[Unit]
Description=Darkhttpd Webserver
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/darkhttpd /srv/http --uid http --gid http --chroot --no-listing --mimetypes /etc/conf.d/mimetypes
ProtectSystem=full
ProtectHome=on
PrivateDevices=on
NoNewPrivileges=on

[Install]
WantedBy=multi-user.target
