[Unit]
Description=Gearmand distributed job system
After=syslog.target network.target

[Service]
User=gearmand
Type=forking
ExecStart=/usr/bin/gearmand -d
Restart=on-failure

[Install]
WantedBy=multi-user.target
