[Unit]
Description=ISC Kea IPv6 DHCP daemon
Documentation=man:kea-dhcp6(8)
Wants=network-online.target
After=network-online.target
After=time-sync.target

[Service]
Environment="KEA_PIDFILE_DIR=/run"
Environment="KEA_LOCKFILE_DIR=/run/lock/kea"
ExecStart=/usr/bin/kea-dhcp6 -c /etc/kea/kea-dhcp6.conf

[Install]
WantedBy=multi-user.target
