[Unit]
Description=Mediaproxy dispatcher service
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/var/run/mediaproxy/dispatcher.pid
ExecStart=media-dispatcher

[Install]
WantedBy=multi-user.target
