[Unit]
Description=minidlna server
After=network.target

[Service]
Type=forking
User=nobody
ExecStart=/usr/sbin/minidlna -P /var/run/minidlna/minidlna.pid
PIDFile=/var/run/minidlna/minidlna.pid

[Install]
WantedBy=multi-user.target
