[Unit]
Description=Lightweight UPnP IGD daemon
Documentation=man:miniupnpd(8)
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=forking
ExecStartPre=/etc/miniupnpd/iptables_init.sh
ExecStart=/usr/bin/miniupnpd -f /etc/miniupnpd/miniupnpd.conf
ExecStopPost=/etc/miniupnpd/iptables_removeall.sh
PIDFile=/run/miniupnpd.pid

[Install]
WantedBy=multi-user.target
