[Unit]
Description=Privoxy Web Proxy With Advanced Filtering Capabilities
After=network.target

[Service]
User=privoxy
Type=simple
ExecStart=/usr/bin/privoxy --no-daemon /etc/privoxy/config
PrivateDevices=yes

[Install]
WantedBy=multi-user.target
