[Unit]
Description=RDNSS daemon for Linux
Before=network.target
Requires=network.target

[Service]
ExecStart=/usr/bin/rdnssd -f -H /etc/rdnssd/%i

[Install]
WantedBy=multi-user.target
