[Unit]
Description=TinySSH Per-Connection Daemon
Documentation=http://tinyssh.org
After=tinysshgenkeys.service

[Service]
ExecStart=/usr/bin/tinysshd /etc/tinyssh/sshkeydir
StandardInput=socket
StandardError=journal
