[Unit]
Description=Open source visualization dashboards for OpenSearch
Documentation=https://opensearch.org/docs/dashboards/index/
After=network.target opensearch.service

[Service]
User=opensearch-dashboards
Group=opensearch-dashboards
ExecStart=/usr/bin/opensearch-dashboards
PrivateTmp=true
NoNewPrivileges=true
Restart=always

[Install]
WantedBy=multi-user.target
