[Unit]
Description=Server monitoring agent that stores metrics in Elasticsearch
Documentation=https://www.elastic.co/guide/en/beats/metricbeat/current/index.html
After=network.target

[Service]
ExecStart=/usr/bin/metricbeat -c /etc/metricbeat/metricbeat.yml -path.home /usr/share/metricbeat -path.config /etc/metricbeat -path.data /var/lib/metricbeat -path.logs /var/log/metricbeat
Restart=on-failure

[Install]
WantedBy=multi-user.target
