[Unit]
Description=CouchDB Server

[Service]
User=couchdb
Type=forking
PermissionsStartOnly=true
ExecStart=/usr/bin/couchdb -b -o /dev/null -e /dev/null
ExecStop=/usr/bin/couchdb -d

[Install]
WantedBy=multi-user.target
