[Unit]
Description=BIRD IPv6 routing daemon
After=network.target

[Service]
ExecStart=/usr/bin/bird6 -d
ExecReload=/usr/bin/birdc6 configure
ExecStop=/usr/bin/bird6c down

[Install]
WantedBy=multi-user.target
