[Unit]
Description=BIRD routing daemon
After=network.target

[Service]
ExecStart=/usr/sbin/bird -d
ExecReload=/usr/sbin/birdc configure
ExecStop=/usr/sbin/birdc down

[Install]
WantedBy=multi-user.target
