[Unit]
Description=Cull old entries from the bad and shunt queues
Documentation=file:///usr/lib/mailman/cron/crontab.in

[Service]
Type=oneshot
ExecStart=/usr/bin/python2 -S /usr/lib/mailman/cron/cull_bad_shunt
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
