[Unit]
Description=GNU Mailing List Manager
After=network.target

[Service]
ExecStart=/usr/lib/mailman/bin/mailmanctl -s start
ExecReload=/usr/lib/mailman/bin/mailmanctl restart
ExecStop=/usr/lib/mailman/bin/mailmanctl stop
StandardError=syslog
Type=forking

[Install]
WantedBy=multi-user.target
