#!/bin/bash

. /etc/rc.conf
. /etc/rc.d/functions
. /etc/minidlna.conf

PID=`pidof -o %PPID /usr/sbin/minidlna`

case "$1" in
  start)
    stat_busy "Starting minidlna"
    [ -z "$PID" ] && /usr/sbin/minidlna
    if [ $? -gt 0 ]; then
      stat_fail
    else
      add_daemon minidlna
      stat_done
    fi
    ;;
  stop)
    stat_busy "Stopping minidlna"
    [ ! -z "$PID" ]  && kill $PID &> /dev/null
    if [ $? -gt 0 ]; then
      stat_fail
    else
      rm_daemon minidlna
      stat_done
    fi
    ;;
  clean)
	$0 stop
	sleep 1
	stat_busy "Cleaning minidlna cache"
	[ -z $db_dir ] || rm -r $db_dir/*
	stat_done
	sleep 1
	$0 start
	;;
  restart)
    $0 stop
    sleep 1
    $0 start
    ;;
  *)
    echo "usage: $0 {start|stop|restart|clean}"
esac
exit 0
