[Unit]
Description=CDEmu Daemon

[Service]
Type=dbus
BusName=net.sf.cdemu.CDEmuDaemon
ExecStart=/usr/lib/cdemu-daemon/cdemu-daemon-system.sh

[Install]
WantedBy=multi-user.target
