[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=SpringLobby
Comment=Lobby for Spring. An open source RTS with similar gameplay to TA
Exec=springlobby
Icon=springlobby.png
Terminal=false
Type=Application
Categories=Application;Game;StrategyGame;
