[Unit]
Description=REST service for OpenPGP CA
Documentation=https://openpgp-ca.org/doc/restd/
Wants=network-online.target

[Service]
CapabilityBoundingSet=
EnvironmentFile=/etc/openpgp-ca-restd/env
ExecStart=/usr/bin/openpgp-ca-restd -d $DATABASE run
Group=openpgp-ca-restd
LockPersonality=yes
MemoryDenyWriteExecute=yes
NonBlocking=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
ReadOnlyPaths=/etc/openpgp-ca-restd/
RemoveIPC=yes
RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
User=openpgp-ca-restd

[Install]
WantedBy=multi-user.target
