[Unit]
Description=Mount Samba Shares
Wants=network-online.target
After=network-online.target

[Service]
Environment=SMBNETFS_MOUNT_POINT=/mnt/smbnet
EnvironmentFile=/etc/conf.d/smbnetfs
User=smbnetfs
ExecStart=/usr/bin/smbnetfs -f -o allow_other $SMBNETFS_MOUNT_POINT
ExecStop=/bin/fusermount -u $SMBNETFS_MOUNT_POINT

[Install]
WantedBy=multi-user.target
