pkgbase = hyperscan
	pkgdesc = High-performance regular expression matching library
	pkgver = 5.4.0
	pkgrel = 1
	url = https://www.hyperscan.io
	arch = x86_64
	license = BSD
	makedepends = boost
	makedepends = cmake
	makedepends = git
	makedepends = python
	makedepends = ragel
	source = git+https://github.com/intel/hyperscan.git#tag=64a995bf445d86b74eb0f375624ffc85682eadfe
	sha256sums = SKIP

pkgname = hyperscan

