[Desktop Entry]
Name=Flobopuyo
Comment=A remake of the famous PuyoPuyo
Exec=flobopuyo
Icon=flobopuyo
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
StartupNotify=false
