[Unit]
Description=GitLab Puma Server
Requires=redis.service
Wants=postgresql.service
After=redis.service postgresql.service network.target
StartLimitIntervalSec=100s

[Service]
User=gitlab
Group=gitlab
WorkingDirectory=<APPDIR>
EnvironmentFile=<APPDIR>/environment
SyslogIdentifier=gitlab-puma
PIDFile=/run/gitlab/puma.pid
RuntimeDirectory=gitlab
RuntimeDirectoryPreserve=yes
RuntimeDirectoryMode=775
PrivateTmp=true
PrivateDevices=true
ProtectSystem=full
ProtectHome=true
# These options break Gitlab's email delivery if you
# use postfix' sendmail wrapper. If you use an SMTP server
# instead you can safely enable these security features.
#NoNewPrivileges=true
#CapabilityBoundingSet=
ExecStart=/usr/bin/bundle-2.7 exec puma -C <APPDIR>/config/puma.rb -e production
ExecStop=/usr/bin/kill -QUIT $MAINPID
ExecReload=/usr/bin/kill -USR2 $MAINPID
Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target
