[Desktop Entry]
Type=Application
Name=GNUjump
Comment=A clone of the simple yet addictive game Xjump
Exec=gnujump
Icon=gnujump.png
Terminal=false
Categories=Game;ArcadeGame;
