[Unit]
Description=Mattermost Chat Server
After=mysqld.service
After=postgresql.service

[Service]
Type=simple
User=mattermost
Group=mattermost
PermissionsStartOnly=true
WorkingDirectory=/usr/share/webapps/mattermost/
StateDirectory=mattermost
LogsDirectory=mattermost
ExecStart=/usr/bin/mattermost
Restart=on-failure
ReadWritePaths=/etc/webapps/mattermost/config.json
CapabilityBoundingSet=
LockPersonality=true
#Not compatible with NodeJS
#MemoryDenyWriteExecute=true
NoNewPrivileges=True
PrivateDevices=true
PrivateTmp=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=strict
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
#SecureBits=noroot-locked
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM

[Install]
WantedBy=multi-user.target
