[Unit]
Description=A partition imaging daemon
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/bin/partimaged --daemon

[Install]
WantedBy=multi-user.target
