[Unit]
Description=Sauerbraten dedicated server
After=network.target

[Service]
User=nobody
ExecStart=/opt/sauerbraten/bin/linux_server
Restart=on-abort
StandardOutput=syslog

[Install]
WantedBy=multi-user.target

