[Unit]
Description=OpenSMTPD
Requires=network-online.target
After=network-online.target

[Service]
Type=forking
ExecStart=/usr/bin/smtpd

[Install]
WantedBy=multi-user.target
