[Unit]
Description=STUN and TURN relay server for VoIP and WebRTC
After=network.target

[Service]
User=turnserver
Type=forking
ExecStart=/usr/bin/turnserver -c /etc/turnserver/turnserver.conf -o -v
RuntimeDirectory=turnserver
LogsDirectory=turnserver
RuntimeDirectoryMode=0700

[Install]
WantedBy=multi-user.target
