[Desktop Entry]
Type=Application
Name=Signal
Comment=Signal Private Messenger for Linux
Icon=signal-desktop
Exec=signal-desktop
Terminal=false
Categories=Network;InstantMessaging;
StartupWMClass=Signal
