[Desktop Entry]
Version=1.0
Name=urxvt
Comment=An unicode capable rxvt clone
Exec=urxvt
Icon=terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
