[Unit]
Description=A network traffic probe similar to the UNIX top command
Requires=network.target
# created after configuration by manual start
ConditionPathExists=/var/lib/ntop/ntop_pw.db
ConditionPathExists=/etc/ntop.conf
After=syslog.target network.target

[Service]
Environment=LANG=C
ExecStart=/usr/sbin/ntop @/etc/ntop.conf
Type=simple
StandardError=syslog

[Install]
WantedBy=multi-user.target
