[Desktop Entry]
Encoding=UTF-8
Name=Gens
Type=Application
GenericName=A Sega Genesis / Sega CD / Sega 32X emulator
Comment=A Sega Genesis / Sega CD / Sega 32X emulator
Exec=gens
Icon=/usr/share/gens/Gens2.ico
Categories=Application;Game;Emulator;
