[Desktop Entry]
Type=Application
Name=Sigil
Comment=E-book reader and WYSIWYG editor
TryExec=sigil
Exec=sigil
Icon=sigil
Categories=Office;
Terminal=false
StartupNotify=false
