[Unit]
Description = Starts instance of XBMC using xinit
After = remote-fs.target

[Service]
User = xbmc
Type = simple
ExecStart = /usr/bin/xinit /usr/bin/xbmc-standalone -- :0

[Install]
WantedBy = multi-user.target
