[Desktop Entry]
Name=DBeaver
GenericName=Free universal SQL Client for developers and database administrators
Exec=dbeaver
Terminal=false
Type=Application
Icon=dbeaver
Categories=Development;Java;Database;
StartupWMClass=SWT
