[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Winff
Comment=GUI for ffmpeg
Exec=winff
Icon=winff
Terminal=false
StartupNotify=false
Categories=Application;
