[Desktop Entry]
Name=Speed Dreams
Comment=The Open Racing Car Simulator Fork
Exec=speed-dreams
Icon=speed-dreams.svg
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Game;
