[Unit]
Description=ISC Kea IPv6 DHCP daemon
Documentation=man:kea-dhcp6(8)
Wants=network-online.target
After=network-online.target
After=time-sync.target

[Service]
ExecStart=/usr/bin/kea-dhcp6 -c /etc/kea/kea.conf

[Install]
WantedBy=multi-user.target
