[Desktop Entry]
Name=PrusaSlicer
Exec=/usr/bin/prusa-slicer
Terminal=false
Type=Application
Icon=prusa-slicer
StartupNotify=false
Categories=Graphics;3DGraphics;
