pkgbase = hyperscan
	pkgdesc = High-performance regular expression matching library
	pkgver = 5.2.1
	pkgrel = 1
	url = https://www.hyperscan.io
	arch = x86_64
	license = BSD
	makedepends = boost
	makedepends = cmake
	makedepends = git
	makedepends = python
	makedepends = ragel
	source = git+https://github.com/intel/hyperscan.git#tag=d79973efb1fcf5ed338122882c1f896829767fb6
	sha256sums = SKIP

pkgname = hyperscan

