[Unit]
Description=Netfilter Ulogd daemon
After=network.target

[Service]
Type=forking
User=root
ExecStart=/usr/sbin/ulogd -d
PIDFile=/var/run/ulogd.pid

[Install]
WantedBy=multi-user.target
