[Desktop Entry]
Name=QDevelop
GenericName=An IDE for Qt4
Comment=A free and cross-platform IDE for Qt4
#Version=0.1
Type=Application
Categories=KDE;Qt;Application;Development;IDE;
Terminal=0
Encoding=UTF-8
Icon=qdevelop
Exec=qdevelop
X-KDE-StartupNotify=true
