[Unit]
Description=A reverse proxy, load balancer, and SSL wrapper

[Service]
Type=forking
PIDFile=/var/run/pound.pid
ExecStart=/usr/sbin/pound -f /etc/pound/pound.cfg -p /var/run/pound.pid

[Install]
WantedBy=multi-user.target
