--2012-07-06 04:52:01--  https://bugs.archlinux.org/task/30488?getfile=8967
Resolving bugs.archlinux.org... 66.211.214.131
Connecting to bugs.archlinux.org|66.211.214.131|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 211 [text/plain]
Saving to: `30488?getfile=8967'

     0K                                                       100% 3.63M=0s

2012-07-06 04:52:02 (3.63 MB/s) - `30488?getfile=8967' saved [211/211]

