[Desktop Entry]
Type=Application
Name=Min
GenericName=Web Browser
Comment=A fast, minimal browser that protects your privacy
Icon=min
Exec=min %U
Categories=GTK;Network;WebBrowser;
StartupNotify=true
MimeType=application/xhtml+xml;application/xml;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
