[Unit]
Description=The Salt Master Server
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/salt-syndic
PIDFile=/var/run/salt-syndic.pid

[Install]
WantedBy=multi-user.target
