[Unit]
Description=The Salt Master Server
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/bin/salt-master -d
PIDFile=/var/run/salt-master.pid

[Install]
WantedBy=multi-user.target
