[Unit]
Description=Mldonkey - Multiple Peer-To-Peer Network Client
After=network.target

[Service]
User=mldonkey
ExecStart=/usr/bin/mlnet -log_to_syslog true -log_file /dev/null -pid /run/mldonkey

[Install]
WantedBy=multi-user.target
