[Unit]
Description=DBMail Imap Server
After=syslog.target network.target mysqld.service postgresql.service

[Service]
Type=forking
PIDFile=/run/dbmail/dbmail-imapd.pid
ExecStart=/usr/bin/dbmail-imapd -p /run/dbmail/dbmail-imapd.pid

[Install]
WantedBy=multi-user.target
