pkgbase = skopeo
	pkgdesc = A command line utility for various operations on container images and image repositories.
	pkgver = 0.1.27
	pkgrel = 1
	url = https://github.com/projectatomic/skopeo
	arch = i686
	arch = x86_64
	arch = armv6h
	arch = armv7h
	license = Apache
	makedepends = go
	makedepends = go-md2man
	makedepends = gpgme
	makedepends = btrfs-progs
	makedepends = device-mapper
	depends = gpgme
	depends = device-mapper
	depends = ostree
	source = https://github.com/projectatomic/skopeo/archive/v0.1.27/skopeo.tar.gz
	sha256sums = a72a920bc13260ac167f938e9b7dbbb0a53bf0a82c5d76109b2b5aaba62be71a

pkgname = skopeo

