pkgbase = lib32-sdl2_image
	pkgdesc = A simple library to load images of various formats as SDL surfaces (Version 2, 32 bit)
	pkgver = 2.0.1
	pkgrel = 1
	url = https://www.libsdl.org/projects/SDL_image/
	arch = x86_64
	license = MIT
	makedepends = cmake
	depends = sdl2_image>=2.0.1
	depends = lib32-sdl2
	depends = lib32-libpng
	depends = lib32-libtiff
	depends = lib32-libjpeg
	depends = lib32-libwebp
	conflicts = lib32-sdl2-image
	source = https://www.libsdl.org/projects/SDL_image/release/SDL2_image-2.0.1.tar.gz
	sha256sums = 3a3eafbceea5125c04be585373bfd8b3a18f259bd7eae3efc4e6d8e60e0d7f64

pkgname = lib32-sdl2_image

