[Unit]
Description=Knot DNS server
After=syslog.target network.target

[Service]
Type=notify
ExecStart=/usr/bin/knotd
ExecReload=/usr/bin/knotc reload

[Install]
WantedBy=multi-user.target
