[Unit]
Description=Grafana Agent monitoring system and forwarder
Documentation=https://grafana.com/docs/agent/
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
Environment=HOSTNAME=%H
ExecStart=/usr/bin/grafana-agent --config.file /etc/grafana-agent.yaml
User=grafana-agent
# If running the Agent in scraping service mode, you will want to override this value with
# something larger to allow the Agent to gracefully leave the cluster. 4800s is recommend.
TimeoutStopSec=20s
SendSIGKILL=no

NoNewPrivileges=true
MemoryDenyWriteExecute=true
RestrictRealtime=true

ProtectHome=true
ProtectSystem=strict
ReadWritePaths=/var/lib/grafana-agent
PrivateTmp=true

ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

[Install]
WantedBy=multi-user.target
