[Desktop Entry]
Name=Alexandria
Comment=A book collection manager
Icon=alexandria.png
Exec=alexandria
Terminal=false
Type=Application
Categories=GTK;Application;Utility
