[Unit]
Description=Trac service
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
# Example: copy it into /etc/systemd/ and edit.
ExecStart=/usr/bin/tracd -b localhost -p 8080 --auth /tmp,/tmp/passwd,realm /tmp

[Install]
WantedBy=multi-user.target
