[Unit]
Description=Amavisd Milter
Wants=amavisd.service
After=network.target

[Service]
PIDFile=/run/amavisd-milter/pid
Type=simple
User=amavis
Group=mail
UMask=0007
RuntimeDirectory=amavisd-milter
RuntimeDirectoryMode=750
ExecStart=/usr/bin/amavisd-milter -f -p /run/amavisd-milter/pid -s unix:/run/amavisd-milter/socket -w /var/spool/amavis/tmp -S /run/amavis/sock -m 2
PrivateTmp=true

[Install]
WantedBy=multi-user.target
