[Unit]
Description=PyICQt is an ICQ transport for Jabber/XMPP

[Service]
Type=forking
PIDFile=/var/run/pyicqt/pyicqt.pid
ExecStart=cd /usr/lib/pyicqt && exec python2 ./PyICQt.py --background 1>/dev/null 2>/dev/null

[Install]
WantedBy=multi-user.target
