### /etc/crontab: Master crontab for system `crond`

PATH=/sbin:/bin:/usr/sbin:/usr/bin
SHELL=/bin/bash
HOME=/var/empty

# Format: Minute Hour Date Month Wday User Command

01  *  *  *  *  root  run-cron /etc/cron.hourly
@reboot         root  anacron -s
04  4  *  *  *  root  anacron -s

### /etc/crontab: Master crontab for system `crond`
