#!/bin/bash

. /etc/rc.conf
. /etc/rc.d/functions

case "$1" in
  start)
    stat_busy 'Starting Dynamic Kernel Module System'
    if /usr/lib/systemd/scripts/dkms start >/dev/null; then
      add_daemon ${0##*/}
      stat_done
    else
      stat_fail
      exit 1
    fi
  ;;
  stop)
    stat_busy 'Stopping Dynamic Kernel Module System'
    if /usr/lib/systemd/scripts/dkms stop >/dev/null; then
      rm_daemon ${0##*/}
      stat_done
    else
      stat_fail
      exit 1
    fi
  ;;
  *)
    echo "usage: ${0##*/} {start|stop}" >&2
    exit 1
  ;;
esac

:
# vim:set ts=2 sw=2 ft=sh et:
