#!/bin/bash

. /etc/rc.conf
. /etc/rc.d/functions
. /etc/conf.d/${0##*/}

case "$1" in
  start)
    status 'Loading FERM rules' ferm "$CONFIG_FILE" &&
      add_daemon ${0##*/} || exit 1
    ;;
  stop)
    status 'Clearing FERM rules' ferm -F "$CONFIG_FILE" &&
      rm_daemon ${0##*/} || exit 1
    ;;
  restart)
    $0 stop
    $0 start
    ;;
  *)
    echo "usage: ${0##*/} {start|stop|restart}" >&2
    exit 1
    ;;
esac

# vim:set ts=2 sw=2 ft=sh et:
