#!/bin/bash

. /etc/rc.conf
. /etc/rc.d/functions

MAILMANCTL=/usr/lib/mailman/bin/mailmanctl

case "$1" in
  start)
    status 'Starting GNU Mailing List Manager' $MAILMANCTL -q start &&
      add_daemon ${0##*/} || exit 1
  ;;
  stop)
    status 'Stoping GNU Mailing List Manager' $MAILMANCTL -q stop &&
      rm_daemon ${0##*/} || exit 1
  ;;
  reload)
    status 'Reloading GNU Mailing List Manager' $MAILMANCTL -q restart
  ;;
  restart)
    $0 stop && $0 start
  ;;
  *)
    echo "usage: ${0##*/} {start|stop|restart|reload}" >&2
  ;;
esac

:
# vim:set ts=2 sw=2 ft=sh et:
