[Unit]
Description=Teredo IPv6 Tunneling Daemon
After=network.target

[Service]
ExecStart=/usr/bin/miredo -f
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target