[Unit]
Description=XMPP (Jabber) Server
After=network.target
Documentation=https://prosody.im/doc
Documentation=https://wiki.archlinux.org/index.php/Prosody

[Service]
Type=forking
PIDFile=/run/prosody/prosody.pid
ExecStart=/usr/bin/prosodyctl start
ExecStop=/usr/bin/prosodyctl stop
ExecReload=/usr/bin/prosodyctl reload

[Install]
WantedBy=multi-user.target
