[Unit]
Description=Hardware RNG Entropy Gatherer Daemon

[Service]
EnvironmentFile=/etc/conf.d/rngd
ExecStart=/usr/bin/rngd -f $RNGD_OPTS

[Install]
WantedBy=multi-user.target
