[Unit]
Description=Internet Wireless Daemon (IWD)
Requires=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device
Before=network.target
Wants=network.target

[Service]
ExecStart=/usr/lib/iwd/iwd -i %I

[Install]
Alias=multi-user.target.wants/iwd@%i.service
