#!/bin/bash

. /etc/rc.conf
. /etc/rc.d/functions

[[ -x /usr/sbin/arptables ]] || exit 1
[[ -x /usr/sbin/arptables-save ]] || exit 1
[[ -x /usr/sbin/arptables-restore ]] || exit 1

do_start() {
  stat_busy "Restore arptables rules"
  if [[ -r /etc/arptables/arptables ]]; then
    /usr/sbin/arptables-restore </etc/arptables/arptables
    (( $? == 0 )) && stat_done && add_daemon arptables && return
  fi
  stat_fail
}

do_stop() {
  stat_busy "Flushing arptables rules"
  /usr/sbin/arptables-restore </dev/null
  if (( $? == 0 )); then
    stat_done
    rm_daemon arptables
  else
    stat_fail
  fi
}

do_save() {
  stat_busy "Saving arptables rules"
  /usr/sbin/arptables-save >/etc/arptables/arptables
  (( $? == 0 )) && stat_done || stat_fail
}

case "$1" in
  start)
    do_start
  ;;
  stop)
    do_stop
  ;;
  restart)
    do_stop
    do_start
  ;;
  save)
    do_save
  ;;
  status)
    /usr/sbin/arptables-save
  ;;
  *)
    echo "Usage $0 {start|stop|restart|save|status}" >&2
    exit 1
esac

# vim:set ts=2 sw=2 ft=sh et:
