[Desktop Entry]
Type=Application
Name=Mp3splt-gtk audio splitter
GenericName=Sound Splitter
Comment=Split mp3 and ogg files without decoding
Comment[cs]=Rozdělit mp3 a ogg soubory bez dekódování
Icon=mp3splt-gtk_ico
Exec=mp3splt-gtk
StartupNotify=false
Terminal=false
Categories=Audio;AudioVideo;AudioVideoEditing;
MimeType=application/ogg;audio/x-mp3;

