[Unit]
Description=HyperKitty async tasks runner
Documentation=https://hyperkitty.readthedocs.io/en/latest/install.html#asynchronous-tasks
After=network.target remote-fs.target

[Service]
User=hyperkitty
ExecStart=/usr/bin/django-admin qcluster --pythonpath /usr/share/webapps/hyperkitty --settings settings
Restart=always
StandardError=syslog
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectControlGroups=true
NoNewPrivileges=true
MemoryDenyWriteExecute=true
LockPersonality=true
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
RemoveIPC=true
RestrictAddressFamilies=~AF_PACKET
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
ReadOnlyPaths=/etc/webapps/hyperkitty
LogsDirectory=hyperkitty
RuntimeDirectory=hyperkitty
StateDirectory=hyperkitty

[Install]
WantedBy=multi-user.target
