[Unit]
Description=Software speech output for Speakup

[Service]
Type=forking
PIDFile=/run/espeakup.pid
ExecStart=/usr/bin/espeakup
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
