[Unit]
Description=Parity Ethereum Daemon
After=network.target

[Service]
User=parity
Group=parity
DynamicUser=on
StateDirectory=parity

ExecStart=/usr/bin/parity --config /etc/parity.toml
Restart=on-failure

# Specifies which signal to use when killing a service. Defaults to SIGTERM.
# SIGHUP gives parity time to exit cleanly before SIGKILL (default 90s)
KillSignal=SIGHUP

[Install]
WantedBy=default.target
