[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Awesome
Comment=Highly configurable framework window manager
Exec=awesome
Icon=awesome.png
Terminal=false
StartupNotify=false
Categories=Application;
