[Desktop Entry]
Categories=Network;InstantMessaging;Java;
Exec=esmska
Icon=esmska
StartupWMClass=esmska-Main
Terminal=false
Type=Application
Version=1.0
Name=Esmska
GenericName=SMS Sender
Comment=Send SMS over the Internet
Comment[ca]=Send SMS over the Internet
Comment[cs]=Posílejte SMS přes Internet
Comment[da]=Send SMS via internettet
Comment[de]=Send SMS over the Internet
Comment[es]=Enviar SMS por internet
Comment[fr]=Envoyer le SMS par l'Internet
Comment[he]=שלח SMS דרך האינטרנט
Comment[hu]=SMS küldése Internet-en keresztül
Comment[is]=Send SMS over the Internet
Comment[it]=Send SMS over the Internet
Comment[iw]=שלח SMS דרך האינטרנט
Comment[lt]=Siųsk SMS internetu
Comment[lv]=Send SMS over the Internet
Comment[pl]=Wyślij SMS przez Internet
Comment[pt_BR]=Send SMS over the Internet
Comment[ru]=Отправить СМС через интернет
Comment[si]=Send SMS over the Internet
Comment[sk]=Poslať SMS cez internet
Comment[sv]=Skicka SMS över Internet
Comment[tr]=Send SMS over the Internet
Comment[uk]=Надіслати SMS через інтернет
GenericName[ca]=SMS Sender
GenericName[cs]=Posílač SMS
GenericName[da]=SMS afsender
GenericName[de]=SMS Sender
GenericName[es]=SMS Sender
GenericName[fr]=Expéditeur du SMS
GenericName[he]=שליחת SMS
GenericName[hu]=SMS Sender
GenericName[is]=SMS Sender
GenericName[it]=SMS Sender
GenericName[iw]=שליחת SMS
GenericName[lt]=SMS Siuntėjas
GenericName[lv]=SMS Sender
GenericName[pl]=Nadawca SMS
GenericName[pt_BR]=SMS Sender
GenericName[ru]=СМС Отправитель
GenericName[si]=SMS Sender
GenericName[sk]=Posielanie SMS
GenericName[sv]=SMS Skickare
GenericName[tr]=SMS Sender
GenericName[uk]=SMS Sender
Name[ca]=Esmska
Name[cs]=Esmska
Name[da]=Esmska
Name[de]=Esmska
Name[es]=Esmska
Name[fr]=Esmska
Name[he]=Esmska
Name[hu]=Esmska
Name[is]=Esmska
Name[it]=Esmska
Name[iw]=Esmska
Name[lt]=Esmska
Name[lv]=Esmska
Name[pl]=Esmska
Name[pt_BR]=Esmska
Name[ru]=Esmska
Name[si]=Esmska
Name[sk]=Esmska
Name[sv]=Esmska
Name[tr]=Esmska
Name[uk]=Esmska
