[Unit]
Description=Real-Time Packet Analyzer
Documentation=https://www.elastic.co/guide/en/beats/packetbeat/current/index.html
After=network.target

[Service]
ExecStart=/usr/bin/packetbeat -c /etc/packetbeat/packetbeat.yml -path.home /usr/share/packetbeat -path.config /etc/packetbeat -path.data /var/lib/packetbeat -path.logs /var/log/packetbeat
Restart=on-failure

[Install]
WantedBy=multi-user.target
