[Unit]
Description=Polipo Proxy Server

[Service]
Type=oneshot
ExecStart=/usr/bin/polipo daemonise=true logFile="/var/log/polipo.log"
User=nobody
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
