[Unit]
Description=Polipo Proxy Server
After=network.target

[Service]
ExecStart=/usr/bin/polipo
User=polipo
PrivateDevices=yes

[Install]
WantedBy=multi-user.target
