[Unit]
Description=A distributed, fault-tolerant Jabber/XMPP server
After=network.target

[Service]
Type=forking
User=ejabberd
Group=jabber
LimitNOFILE=16000
RestartSec=5
ExecStart=/usr/bin/erl -pa /usr/lib/ejabberd/ebin -sname ejabberd -s ejabberd -ejabberd config \"/etc/ejabberd/ejabberd.cfg\" log_path \"/var/log/ejabberd/ejabberd.log\" -sasl sasl_error_logger \{file,\"/var/log/ejabberd/sasl.log\"\} -mnesia dir \"/var/lib/ejabberd\" -detached -kernel inetrc \"/etc/ejabberd/inetrc\"

[Install]
WantedBy=multi-user.target
