pkgbase = hyperscan
	pkgdesc = High-performance regular expression matching library
	pkgver = 5.4.1
	pkgrel = 1
	url = https://www.hyperscan.io
	arch = x86_64
	license = BSD
	makedepends = boost
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	makedepends = python
	makedepends = ragel
	options = !lto
	source = git+https://github.com/intel/hyperscan.git#tag=c37166d52ba5634886cd5ae73dcc81bb2de95872
	b2sums = SKIP

pkgname = hyperscan
