pkgbase = hyperscan
	pkgdesc = High-performance regular expression matching library
	pkgver = 5.4.2
	pkgrel = 1
	url = https://www.hyperscan.io
	arch = x86_64
	license = BSD
	makedepends = boost
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	makedepends = python
	makedepends = ragel
	options = !lto
	source = git+https://github.com/intel/hyperscan.git#tag=bc3b191ab56055e8560c7cdc161c289c4d76e3d2
	b2sums = SKIP

pkgname = hyperscan
