pkgbase = hyperscan
	pkgdesc = High-performance regular expression matching library
	pkgver = 5.3.0
	pkgrel = 1
	url = https://www.hyperscan.io
	arch = x86_64
	license = BSD
	makedepends = boost
	makedepends = cmake
	makedepends = git
	makedepends = python
	makedepends = ragel
	source = git+https://github.com/intel/hyperscan.git#tag=c00683d73916e39f01b0d418f686c8b5c379159c
	sha256sums = SKIP

pkgname = hyperscan

