ACTION=="remove", GOTO="vhba_end"

KERNEL=="vhba_ctl", NAME="vhba_ctl", MODE="0660", OWNER="root", GROUP="cdemu"

TEST=="/sys/fs/cgroup/systemd", GOTO="vhba_uaccess"
KERNEL=="vhba_ctl", TAG+="udev-acl"
GOTO="vhba_end"

LABEL="vhba_uaccess"
KERNEL=="vhba_ctl", TAG+="uaccess"

LABEL="vhba_end"
