[Unit]
Description=Watch ARP on interface %i
After=network.target

[Service]
Type=forking
ExecStartPre=/usr/bin/touch /var/lib/arpwatch/%i.dat
ExecStart=/usr/bin/arpwatch -f /var/lib/arpwatch/%i.dat -i %i

[Install]
WantedBy=multi-user.target
