[Unit]
Description=Blinksocks Service
After=network-online.target

[Service]
ExecStart=/usr/bin/blinksocks /etc/blinksocks/%i.json
Restart=on-failure

[Install]
WantedBy=multi-user.target