[Desktop Entry]
Type=Application
Version=1.0
Name=Cameractrls
Comment=Camera controls for Linux
Exec=cameractrlsgtk
Icon=cameractrls
Terminal=false
Categories=Settings;
