[Unit]
Description=DBMail Imap Server
After=syslog.target network.target mysqld.service postgresql.service

[Service]
Type=forking
PIDFile=/var/run/dbmail/dbmail-imapd.pid
ExecStart=/usr/sbin/dbmail-imapd -p /var/run/dbmail/dbmail-imapd.pid

[Install]
WantedBy=multi-user.target
