[Unit]
Description=Dopewars Server
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/dopewars -S -r /var/run/dw.pid -l /var/log/dw.log
PIDFile=/var/run/dw.pid
RemainAfterExit=yes
ExecStop=/usr/bin/pkill -F /var/run/dw.pid

[Install]
WantedBy=multi-user.target
