[Unit]
Description=ElasticSearch
After=network.target

[Service]
User=elasticsearch
Type=forking
PIDFile=/run/elasticsearch/elasticsearch.pid
ExecStart=/usr/bin/elasticsearch -p /run/elasticsearch/elasticsearch.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
