[Unit]
Description=Elasticsearch
Documentation=http://www.elastic.co
Wants=network.target
After=network.target

[Service]
Type=forking
RuntimeDirectory=elasticsearch
PIDFile=/run/elasticsearch/%I.pid

Environment=JAVA_HOME=/usr/lib/jvm/default-runtime
EnvironmentFile=-/etc/default/elasticsearch
Environment=ES_PATH_CONF=/etc/elasticsearch/%I

WorkingDirectory=/usr/share/elasticsearch

User=elasticsearch
Group=elasticsearch

ExecStart=/usr/bin/elasticsearch -d \
            -p /run/elasticsearch/%I.pid

LimitNOFILE=65536
LimitMEMLOCK=infinity

Restart=on-failure
SendSIGKILL=no
TimeoutStopSec=0
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
