[Unit]
Description=Simple server for running CGI applications over FastCGI
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
Restart=on-abort
PIDFile=/var/run/fcgiwrap.pid
ExecStart=/usr/bin/spawn-fcgi -a 127.0.0.1 -p 9001 -u http -g http -- /usr/sbin/fcgiwrap
ExecStop=/usr/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target
