[Unit]
Description=Ferm

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/conf.d/ferm
ExecStart=/usr/sbin/ferm $FERM_ARGS ${FERM_CONFIG}
ExecStop=/usr/sbin/ferm -F $FERM_ARGS ${FERM_CONFIG}

[Install]
WantedBy=multi-user.target
After=ipset.service
