[Desktop Entry]
Version=1.0
Type=Application
Name=Geotag
Comment=Match date/time information from photos with location information from a GPS unit
Exec=geotag
Icon=geotag
Categories=Graphics;ImageProcessing;Geography;
