[Desktop Entry]
Version=1.0
Name=GSmartControl
GenericName=Hard Disk Health Inspection
Comment=Monitor and control SMART data on hard disks
Icon=gsmartcontrol
Exec=pkexec /usr/bin/gsmartcontrol
Type=Application
Categories=GTK;GNOME;System;Filesystem;
