[Desktop Entry]
Name=JSampler Classic
Comment=LinuxSampler - Audio sampler (Classic Java GUI)
Exec=jsampler-classic
Icon=jsampler-classic
Categories=AudioVideo;Audio;
Terminal=false
Type=Application
