[Unit]
Description=Kcptun Client Service
After=network.target

[Service]
Type=exec
User=nobody
ExecStart=/usr/bin/kcptun-client -c /etc/kcptun/%i.json
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
