[Unit]
Description=Kcptun Server Service
After=network.target

[Service]
Type=exec
User=nobody
ExecStart=/usr/bin/kcptun-server -c /etc/kcptun/%i.json

[Install]
WantedBy=multi-user.target
