[Unit]
Description=Keepalive Daemon

[Service]
EnvironmentFile=/etc/conf.d/keepalived
ExecStart=/usr/sbin/keepalived --dont-fork $DAEMON_OPTS

[Install]
WantedBy=multi-user.target
