[Unit]
Description=Windows Dynamic Disks Mount
Before=local-fs-pre.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/ldmtool create all

