[Unit]
Description=LLDP daemon
Documentation=man:lldpd(8)
After=network.target
RequiresMountsFor=/run/lldpd

[Service]
Type=notify
NotifyAccess=main
ExecStart=/usr/bin/lldpd
Restart=on-failure
PrivateTmp=yes
# systemd >= 211
RestrictAddressFamilies=AF_INET AF_INET6 AF_PACKET AF_NETLINK AF_UNIX
# systemd >= 214
ProtectHome=yes
# systemd >= 231
ReadWritePaths=/run/lldpd/
# systemd >= 232
ProtectSystem=strict
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectKernelModules=yes

[Install]
WantedBy=multi-user.target
