[Unit]
Description=%I LXC
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/lxc-start -d -n %I
ExecStop=/usr/bin/lxc-stop -n %I

[Install]
WantedBy=multi-user.target
