[Unit]
Description=Multi-protocols bridge for online communications
After=network-online.target

[Service]
User=matterbridge
DynamicUser=yes
StateDirectory=matterbridge
ExecStartPre=+/usr/bin/install --owner=matterbridge --mode=400 -T /etc/matterbridge.toml %S/matterbridge/matterbridge.toml
ExecStart=/usr/bin/matterbridge -conf %S/matterbridge/matterbridge.toml
Restart=on-failure
RestartSec=5s
Type=simple
CapabilityBoundingSet=
AmbientCapabilities=
NoNewPrivileges=true
#SecureBits=
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
PrivateNetwork=false
PrivateUsers=true
ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=true
LockPersonality=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallFilter=@system-service
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
