[Unit]
Description=Meshbird Service
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/meshbird.conf
ExecStart=/usr/bin/meshbird join

[Install]
WantedBy=multi-user.target
