[Unit]
Description=Server monitoring agent that stores metrics in Elasticsearch
Documentation=https://www.elastic.co/guide/en/beats/metricbeat/current/index.html
After=network.target

[Service]
ExecStart=/usr/bin/metricbeat -c /etc/metricbeat/metricbeat.yml

[Install]
WantedBy=multi-user.target
