[Desktop Entry]
Version=1.0
Name=MilkyTracker
Type=Application
Comment=FastTracker 2 inspired music tracker
Exec=milkytracker
TryExec=milkytracker
Icon=milkytracker.png
Categories=AudioVideo;Audio;AudioVideoEditing;
