[Unit]
Description=OpenNTP Daemon
After=network.target
Conflicts=systemd-timesyncd.service

[Service]
Type=forking
ExecStart=/usr/bin/ntpd -s

[Install]
WantedBy=multi-user.target
