[Unit]
Description    =  Open vSwitch Database Server
Documentation  =  man:ovsdb-server

[Service]
ExecStart  = /usr/sbin/ovsdb-server --remote=punix:/var/run/openvswitch/db.sock
