[Unit]
Description=Pesign database generation
Documentation=man:certutil(1)
ConditionPathExists=|!/etc/pki/pesign/cert9.db
ConditionPathExists=|!/etc/pki/pesign/key4.db
ConditionPathExists=|!/etc/pki/pesign/pkcs11.txt

[Service]
Type=oneshot
RemainAfterExit=yes
User=pesign
Group=pesign
ExecStart=/usr/bin/certutil -N -d sql:/etc/pki/pesign --empty-password
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectControlGroups=true
NoNewPrivileges=true
MemoryDenyWriteExecute=true
LockPersonality=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
RemoveIPC=true
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@resources
ReadWritePaths=/etc/pki/pesign
