[Unit]
Description=Update plocate database
After=updatedb.service

[Service]
Type=oneshot
ExecStart=/usr/bin/update-plocate.sh
IOSchedulingClass=idle

[Install]
WantedBy=updatedb.service
