[Unit]
Description=Prometheus exporter for systemd metrics
Requires=network-online.target
After=network-online.target

[Service]
User=systemd_exporter
Group=systemd_exporter
Restart=on-failure
EnvironmentFile=-/etc/conf.d/prometheus-systemd-exporter
ExecStart=/usr/bin/prometheus-systemd-exporter $SYSTEMD_EXPORTER_ARGS
ExecReload=/bin/kill -HUP $MAINPID
NoNewPrivileges=true
ProtectHome=read-only
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
