[Unit]
Description=Hardware RNG Entropy Gatherer Daemon
After=systemd-random-seed.service
Before=sysinit.target shutdown.target

[Service]
EnvironmentFile=/etc/conf.d/rngd
ExecStart=/usr/bin/rngd -f $RNGD_OPTS
NoNewPrivileges=on
PrivateDevices=on
PrivateNetwork=on
PrivateTmp=on
ProtectSystem=full
ProtectHome=on

[Install]
WantedBy=sysinit.target
