[Desktop Entry]
Encoding=UTF-8
Name=Rocks'N'Diamonds
GenericName=Rocks'N'Diamonds
Comment=Arcade game
Exec=rocksndiamonds
Icon=rocksndiamonds
Terminal=false
Type=Application
Categories=Application;Game;
StartupNotify=false
