[Unit]
Description=Salt Minion Daemon
After=network.target

[Service]
Type=forking
PIDFile=/run/salt/salt-minion.pid
ExecStart=/usr/bin/salt-minion -d

[Install]
WantedBy=multi-user.target
