[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Sauerbraten
Comment=FPS that uses an improved version of the Cube engine
Exec=sauerbraten-client %u
Icon=sauerbraten
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;
