[Unit]
Description=Spamassassin Proxy Daemon
After=network.target

[Service]
ExecStart=/usr/bin/spampd --port=10025 --relayhost=127.0.0.1:10026 --tagall --log-rules-hit --user spampd --group spampd --pid=/run/spampd/spampd.pid --homedir=/var/lib/spampd --nodetach --maxsize=2048
PrivateTmp=true

[Install]
WantedBy=multi-user.target
