[Unit]
Description=SSHGuard - blocks brute-force login attempts
After=syslog.target
After=iptables.service
After=ip6tables.service
After=libvirtd.service
After=firewalld.service
After=nftables.service

[Service]
ExecStart=/usr/sbin/sshguard
Restart=always

[Install]
WantedBy=multi-user.target
