[Unit]
Description=SSL/SSH multiplexer
After=network.target

[Service]
ExecStart=/usr/bin/sslh-select -f -F /etc/sslh.conf
KillMode=process

[Install]
WantedBy=multi-user.target
