[Unit]
Description=Drone Runner (SSH)
Requires=network-online.target
After=network-online.target

[Service]
User=drone-runner-ssh
Group=drone-runner-ssh
WorkingDirectory=/var/lib/drone-runner-ssh
ReadWritePaths=/var/lib/drone-runner-ssh
ExecStart=/usr/bin/drone-runner-ssh

[Install]
WantedBy=multi-user.target
