[Unit]
Description=TeamSpeak3 Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
DynamicUser=true
User=teamspeak
Group=teamspeak
StateDirectory=teamspeak3-server
LogsDirectory=teamspeak3-server
WorkingDirectory=/var/lib/teamspeak3-server
Environment='LD_LIBRARY_PATH="/usr/lib/:/usr/lib/mariadb/:$LD_LIBRARY_PATH"'
Environment="TS3SERVER_LICENSE=accept"
ExecStart=/usr/bin/ts3server inifile=/etc/teamspeak3-server.ini

# Hardening options
CapabilityBoundingSet=
AmbientCapabilities=
NoNewPrivileges=true
ProtectHome=true
ProtectSystem=full
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
PrivateTmp=true
LockPersonality=true

[Install]
WantedBy=multi-user.target
