[Unit]
Description=real-time log monitor

[Service]
ExecStart=/usr/bin/tenshi -c /etc/tenshi/tenshi.conf -f
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
