[Unit]
Description=Anonymizing Overlay Network

[Service]
Type=forking
GuessMainPID=yes
EnvironmentFile=/etc/conf.d/tor
ExecStart=/usr/bin/tor -f $TOR_CONF $TOR_ARGS
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
