[Unit]
Description=vsftpd daemon (legacy implicit SSL)

[Service]
ExecStart=/usr/sbin/vsftpd -oimplicit_ssl=yes
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target
