[Unit]
Description=A VNC server for wlroots based Wayland compositors
Requires=sway.service
After=sway.service

[Service]
Type=simple
ExecStart=/usr/bin/wayvnc
Restart=on-failure
RestartSec=1
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
