[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Xboard
Comment=A graphical user interfaces for chess
Exec=xboard
Icon=xboard.png
Terminal=false
StartupNotify=false
Categories=Application;
