[Unit]
Description=A reverse proxy, load balancer, and SSL wrapper

[Service]
Type=forking
PIDFile=/run/pound.pid
ExecStart=/usr/bin/pound -f /etc/pound/pound.cfg -p /run/pound.pid

[Install]
WantedBy=multi-user.target
