#!/bin/bash

. /etc/rc.conf
. /etc/rc.d/functions
. /etc/conf.d/${0##*/}

case "$1" in
  start)
    stat_busy 'Loading IP sets'
    ipset restore < "$CONFIG_FILE" && add_daemon ${0##*/} && stat_done || stat_die
    ;;
  stop)
    [[ $SAVE_ON_STOP =~ [yY][eE][sS] ]] && $0 save
    stat_busy 'Clearing IP sets'
    ipset destroy &&
      rm_daemon ${0##*/} && stat_done || stat_die
    ;;
  restart)
    $0 stop
    $0 start
    ;;
  save)
    stat_busy 'Saving IP sets'
    ipset save > "$CONFIG_FILE" &&
      stat_done || stat_die
    ;;
  *)
    echo "usage: ${0##*/} {start|stop|restart|save}" >&2
    exit 1
    ;;
esac

# vim:set ts=2 sw=2 ft=sh et:
