[Desktop Entry]
Version=1.6.2
Type=Application
Icon=gnome-mime-application-x-love-game
Exec=mari0
Terminal=false
StartupNotify=false
Name=mari0
GenericName=Arcade Game
Comment=The Mario game with Portal gun mechanics
Categories=Game;ArcadeGame;
