[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PlayOnLinux
GenericName=PlayOnLinux
Comment=PlayOnLinux
Type=Application
Exec=playonlinux
Icon=playonlinux32
Categories=PlayOnLinux;
Name[fr_FR]=PlayOnLinux
Categories=Application;Game
