[Unit]
Description=p3scan proxy

[Service]
Type=forking
PIDFile=/var/run/p3scan/p3scan.pid
ExecStart=/usr/sbin/p3scan

[Install]
WantedBy=multi-user.target
