[Unit]
Description=A reverse proxy, load balancer, and SSL wrapper
Documentation=man:pound(8)
After=syslog.target network-online.target systemd-sysusers.service
Wants=network-online.target

[Service]
Type=forking
DynamicUser=yes
RuntimeDirectory=pound
ExecStart=/usr/bin/pound -f /etc/pound/pound.cfg -p /run/pound.pid
PIDFile=/run/pound.pid
ProtectControlGroups=yes
ProtectKernelModules=yes
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
