[Unit]
Description=Ubiquiti UniFi Server
After=network.target

[Service]
User=unifi
WorkingDirectory=/usr/lib/unifi
ExecStart=/usr/bin/java -jar /usr/lib/unifi/lib/ace.jar start
ExecStop=/usr/bin/java -jar /usr/lib/unifi/lib/ace.jar stop

[Install]
WantedBy=multi-user.target
