[Unit]
Description=RIP routing daemon
BindTo=zebra.service
After=network.target zebra.service
ConditionPathExists=/etc/quagga/ripd.conf

[Service]
ExecStart=/usr/sbin/ripd
Restart=on-abort

[Install]
WantedBy=multi-user.target
