[Unit]
Description=Exim Mail Daemon

[Service]
PIDFile=/var/run/exim.pid
ExecStart=/usr/sbin/exim -bdf -q30m
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
