[Desktop Entry]
Name=JabRef
GenericName=BibTeX Editor
Exec=jabref %U
Icon=jabref
Terminal=false
Type=Application
Categories=Office;
MimeType=text/x-bibtex;
