[Unit]
Description=Darkhttpd Webserver

[Service]
Type=simple
ExecStart=/usr/bin/darkhttpd /srv/http --uid nobody --gid nobody --chroot --mimetypes /etc/conf.d/mimetypes

[Install]
WantedBy=multi-user.target
