[Desktop Entry]
Encoding=UTF-8
Name=Hex-a-Hop
GenericName=Hexagonal Tile-based Puzzle Game
Comment=Hexagonal Tile-based Puzzle Game
Exec=/usr/bin/hex-a-hop
Terminal=false
MultipleArgs=false
Type=Application
Icon=/usr/share/hex-a-hop/icon.bmp
Categories=Game;ArcadeGame
