[Unit]
Description=OpenSearch Keystore Generation
ConditionPathExists=|!/etc/opensearch/opensearch.keystore

[Service]
Type=oneshot
Group=opensearch
UMask=0007
ExecStart=/usr/share/opensearch/bin/opensearch-keystore create
RemainAfterExit=yes
