[Unit]
Description=BIRD6 routing daemon

[Service]
ExecStart=/usr/sbin/bird6
ExecReload=/bin/sh -c "echo configure | /usr/sbin/birdc6"
ExecStop=/bin/sh -c "echo down | /usr/sbin/birdc6"

[Install]
WantedBy=multi-user.target
