[Unit]
Description=BIRD routing daemon

[Service]
ExecStart=/usr/sbin/bird
ExecReload=/bin/sh -c "echo configure | /usr/sbin/birdc"
ExecStop=/bin/sh -c "echo down | /usr/sbin/birdc"

[Install]
WantedBy=multi-user.target
