[Unit]
Description=BIRD IPv6 routing daemon

[Service]
ExecStart=/usr/sbin/bird6 -d
ExecReload=/usr/sbin/bird6c configure
ExecStop=/usr/sbin/bird6c down

[Install]
WantedBy=multi-user.target
