[Unit]
Description=Bacula Director Daemon
Requires=network.target
After=network.target

[Service]
User=bacula
Type=forking
ExecStart=/usr/sbin/bacula-dir

[Install]
WantedBy=multi-user.target
