[Unit]
Description=lcdproc client
Requires=lcdd.service
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/lcdproc -c /etc/lcdproc.conf

[Install]
WantedBy=multi-user.target
