[Unit]
Description=XMMS2 daemon
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
EnvironmentFile=/etc/conf.d/xmms2d.conf
ExecStart=su -c '/usr/bin/xmms2-launcher $XMMS2_PARAMETERS &>/dev/null' - $XMMS2_USER
ExecStop=su -c '/usr/bin/xmms2 quit &>/dev/null' - $XMMS2_USER

[Install]
WantedBy=multi-user.target
