[Unit]
Description=Drone Runner (Docker)
Requires=network-online.target
After=network-online.target

[Service]
User=drone-runner-docker
Group=drone-runner-docker
WorkingDirectory=/var/lib/drone-runner-docker
ReadWritePaths=/var/lib/drone-runner-docker
ExecStart=/usr/bin/drone-runner-docker

[Install]
WantedBy=multi-user.target
