[Unit]
Description=Pesign signing daemon
Documentation=man:pesign(1)
Wants=pesign-create-db.service
After=pesign-create-db.service

[Service]
User=pesign
Group=pesign
PIDFile=/run/pesign/pesign.pid
ExecStart=/usr/bin/pesign --daemonize --nofork
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectControlGroups=true
NoNewPrivileges=true
MemoryDenyWriteExecute=true
LockPersonality=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
RemoveIPC=true
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@resources
ReadWritePaths=/run/pesign
RuntimeDirectory=pesign
StateDirectory=pesign
LogsDirectory=pesign

[Install]
WantedBy=multi-user.target
