[Desktop Entry]
Name=ArdourVST
Comment=Digital Audio Workstation with win32 VST support
Exec=ardourvst
Icon=/usr/share/ardour2/icons/ardour_icon_48px.png
Terminal=false
Type=Application
X-MultipleArgs=false
Categories=AudioVideo;
