[Unit]
Description=Postfix Greylisting Service
Before=postfix.service

[Service]
Type=forking
EnvironmentFile=-/etc/conf.d/postgrey
ExecStartPre=-/bin/rm -f /var/run/postgrey.pid
PIDFile=/var/run/postgrey.pid
ExecStart=$POSTGREY_BIN --daemonize --$POSTGREY_ADDR \
	--group=$GROUP --user=$USER $POSTGREY_OPTS --pidfile=$PIDFILE \
	--greylist-text="$POSTGREY_TEXT"

Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
