[Unit]
Description=Postfix Greylisting Service
Before=postfix.service

[Service]
Type=simple
EnvironmentFile=-/etc/conf.d/postgrey
PIDFile=/var/run/postgrey/postgrey.pid
ExecStart=/usr/sbin/postgrey --daemonize --inet=127.0.0.1:10030 \
	--group=postgrey --user=postgrey $POSTGREY_OPTS --pidfile=/var/run/postgrey/postgrey.pid \
	--greylist-text="$POSTGREY_TEXT"
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
