[Unit]
Description=Advanced TFTP Daemon
After=network.target

[Service]
EnvironmentFile=/etc/conf.d/atftpd
ExecStart=/usr/bin/atftpd --daemon --no-fork $ATFTPD_ARGS

[Install]
WantedBy=multi-user.target
