[Unit]
Description=Gitlab Workhorse
Requires=gitlab-unicorn.service
After=gitlab-unicorn.service

[Service]
User=gitlab
Group=gitlab
WorkingDirectory=/usr/share/webapps/gitlab
SyslogIdentifier=gitlab-workhorse
CapabilityBoundingSet=
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true
ExecStart=/usr/bin/gitlab-workhorse -listenUmask 0 -authBackend http://localhost:8080 -authSocket /var/lib/gitlab/sockets/gitlab.socket -listenAddr /run/gitlab/gitlab-workhorse.socket -listenNetwork unix /var/lib/gitlab/repositories -documentRoot /usr/share/webapps/gitlab/public
ExecStop=/usr/bin/kill -QUIT $MAINPID
ExecReload=/usr/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
