#!/bin/bash

. /etc/rc.conf
. /etc/rc.d/functions

DKMS=/usr/sbin/dkms

case "$1" in
	start)
		status 'Starting DKMS autoinstall' $DKMS autoinstall --kernelver $(uname -r)
	;;
  stop)
		stat_busy "Stopping DKMS"
		stat_done
	;;
  *) 
		echo "usage: ${0##*/} {start|stop}" >&2
	;;
esac

:
# vim:set ts=2 sw=2 ft=sh noet:
