[Unit]
Description=Proxy that allows tcp connections to serial ports
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/bin/ser2net

[Install]
WantedBy=multi-user.target

