[Unit]
Description=Dingo Secure DNS resolver
Wants=network.target

[Service]
Type=simple
User=nobody
ExecStart=/usr/bin/dingo -gdns:auto

[Install]
WantedBy=multi-user.target
