[Unit]
Description=Hedgedoc real-time collaborative markdown editor
After=network.target

[Service]
Type=exec

Environment=NODE_ENV=production

Restart=always
RestartSec=2s

User=hedgedoc
Group=hedgedoc

WorkingDirectory=/usr/share/webapps/hedgedoc
ExecStart=/usr/bin/node app.js

CapabilityBoundingSet=
NoNewPrivileges=true
PrivateDevices=true
RemoveIPC=true
LockPersonality=true

ProtectControlGroups=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectClock=true
ProtectHostname=true
ProtectProc=noaccess

RestrictRealtime=true
RestrictSUIDSGID=true
RestrictNamespaces=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6

ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
ReadWritePaths=/var/lib/hedgedoc /run/hedgedoc

SystemCallArchitectures=native
SystemCallFilter=@system-service @pkey

[Install]
WantedBy=multi-user.target
