[Unit]
Description=Simple and instant http server.
After=network.target

[Service]
ExecStart=/usr/lib/systemd/scripts/webfsd

[Install]
WantedBy=multi-user.target
