
[Desktop Entry]
Name=Ubuntu One
Comment=Configure and manage your Ubuntu One account
Exec=ubuntuone-control-panel-qt
Icon=ubuntuone
Terminal=false
Type=Application
Categories=Network;FileTransfer;
StartupNotify=true
X-Ayatana-Appmenu-Show-Stubs=False
