[Unit]
Description=IP Sets

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/scripts/ipset start
ExecStop=/usr/sbin/ipset destroy
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
