[Unit]
Description=OpenEthereum Daemon
After=network.target

[Service]
User=openethereum
Group=openethereum
DynamicUser=on
StateDirectory=openethereum

ExecStart=/usr/bin/openethereum --config /etc/openethereum/config.toml
Restart=on-failure

# Specifies which signal to use when killing a service. Defaults to SIGTERM.
# SIGHUP gives openethereum time to exit cleanly before SIGKILL (default 90s)
KillSignal=SIGHUP

[Install]
WantedBy=default.target
