[Unit]
Description=Watch ARP on interface %I
After=network.target

[Service]
Type=forking
ExecStartPre=/usr/bin/touch /var/lib/arpwatch/%I.dat
ExecStart=/usr/bin/arpwatch -f /var/lib/arpwatch/%I.dat -i %I

[Install]
WantedBy=multi-user.target
