[Unit]
Description=Software speech output for Speakup
# espeakup needs to start after the audio devices appear, hopefully this should go away in the future
Wants=systemd-udev-settle.service
After=systemd-udev-settle.service sound.target

[Service]
Type=forking
PIDFile=/run/espeakup.pid
ExecStart=/usr/bin/espeakup
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=sound.target
