# Config file for mpdscribble

# audioscrobbler username
username = YOUR_USERNAME
# md5hash of audioscrobbler password
# $ echo -n PASSWORD | md5sum | cut -f 1 -d " "
password = YOUR_MD5HASH_PASSWORD

# Connection settings for mpd
host = localhost
port = 6600

# Options
verbose = 2
#sleep = 30
log = /var/log/mpdscribble.log
cache = /var/cache/mpdscribble/mpdscribble.cache
