[Desktop Entry]
Name=IntelliJ IDEA Community Edition
Comment=A Java IDE
Exec=idea_CE %u
Icon=idea_CE
Terminal=false
Type=Application
Categories=Development;IDE;Java;
