[Desktop Entry]
Name=IntelliJ IDEA Community Edition
Comment=A Java IDE
Exec=intellijidea-ce %u
Icon=intellijidea-ce
Terminal=false
Type=Application
Categories=Development;IDE;
