[Unit]
Description=vsftpd per-connection server

[Service]
ExecStart=-/usr/sbin/vsftpd
ExecReload=/bin/kill -HUP $MAINPID
StandardInput=socket
StandardError=syslog
