[Unit]
Description=Syncthing discovery server
After=network.target

[Service]
User=syncthing-discosrv
Group=syncthing-discosrv
ExecStart=/usr/bin/syncthing-discosrv
WorkingDirectory=/var/lib/syncthing-discosrv

PrivateTmp=true
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
