[Unit]
Description=Polipo Proxy Server

[Service]
ExecStart=/usr/bin/polipo
User=nobody
ExecReload=/bin/kill -USR1 $MAINPID

[Install]
WantedBy=multi-user.target
