[Unit]
Description=Naming services LDAP client daemon.
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/nslcd --nofork

[Install]
WantedBy=multi-user.target
