[Unit]
Description=ElasticSearch
After=network.target

[Service]
User=elasticsearch
Type=forking
PIDFile=/run/elasticsearch/%I.pid
ExecStart=/usr/bin/elasticsearch -p /run/elasticsearch/%I.pid -Des.config=/etc/elasticsearch/%I.yml
Restart=on-failure

[Install]
WantedBy=multi-user.target
