[Unit]
Description=DKFilter input service
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
EnvironmentFile=/etc/conf.d/dkfilter
PIDFile=/var/run/dkfilter.in
ExecStart=dkfilter.in --user=$DKFILTER_USER --group=$DKFILTER_GROUP --hostname=$DKFILTER_HOSTNAME 127.0.0.1:10025 127.0.0.1:10026

[Install]
WantedBy=multi-user.target
