[Unit]
Description=Postfix Greylisting Service
Before=postfix.service

[Service]
Type=forking
PIDFile=/run/postgrey/postgrey.pid
ExecStart=/usr/bin/postgrey --inet=127.0.0.1:10030 \
	--pidfile=/run/postgrey/postgrey.pid \
	--group=postgrey --user=postgrey \
	--daemonize \
	--greylist-text="Greylisted for %%s seconds"
Restart=always
RestartSec=5
TimeoutSec=10

[Install]
WantedBy=multi-user.target
