[Unit]
Description=Send mailman password reminders
Documentation=file:///usr/lib/mailman/cron/crontab.in

[Service]
Type=oneshot
ExecStart=/usr/bin/python2 -S /usr/lib/mailman/cron/mailpasswds
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
