[Desktop Entry]
Name=OpenTTD
GenericName=Game
Comment="An open source clone of Transport Tycoon Deluxe"
Exec=/usr/bin/openttd
Icon=/usr/share/pixmaps/openttd.64.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Game;Simulation;StrategyGame
