[Desktop Entry]
Version=1.0
Type=Application
Hidden=false
Terminal=false
Icon=protege
Name=Protege
Exec=protege
MimeType=application/rdf+xml
Categories=Development;Education;Science;IDE;
Comment=Protege 4 is an Ontology Editor and knowledge-base framework for OWL 2 ontologies
Keywords=OWL;Ontology;Description Logic
