[Unit]
Description=Bacula Storage Daemon
Requires=network.target
After=network.target

[Service]
User=bacula
Type=forking
ExecStart=/usr/sbin/bacula-sd

[Install]
WantedBy=multi-user.target
