[Unit]
Description=Bacula File Daemon
Requires=network.target
After=network.target

[Service]
User=bacula
Type=forking
ExecStart=/usr/sbin/bacula-fd
IOSchedulingClass=idle
Restart=always

[Install]
WantedBy=multi-user.target
