[Unit]
Description=Kafka server
After=network.target

[Service]
Type=simple
Environment=KAFKA_PID_DIR=/run/kafka/
Environment=KAFKA_LOGS_DIR=/var/log/kafka/
User=kafka
WorkingDirectory=/var/lib/kafka
ExecStart=?? # TODO write a script?
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectControlGroups=true
NoNewPrivileges=true
LockPersonality=true
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=~CAP_NET_BROADCAST CAP_NET_RAW
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
RemoveIPC=true
RestrictAddressFamilies=~AF_PACKET AF_NETLINK AF_UNIX
RestrictSUIDSGID=true
RestrictNamespaces=true
RestrictRealtime=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
RuntimeDirectory=kafka
StateDirectory=kafka
LogsDirectory=kafka

[Install]
WantedBy=multi-user.target
