#!/bin/bash

daemon_name=tincd

. /etc/rc.conf
. /etc/rc.d/functions
. /etc/conf.d/$daemon_name.conf

case "$1" in
  start)
    for net in "${NETNAMES[@]}"; do
      stat_busy "Starting ${daemon_name}"
      /usr/sbin/tincd -n "${net}" $TINCD_EXTRAOPTS &>/dev/null
      if [ $? -gt 0 ]; then
        stat_fail
      else
        add_daemon ${daemon_name}
        stat_done
      fi
    done
    ;;
  stop)
    stat_busy "Stopping ${daemon_name}"
    for net in "${NETNAMES[@]}"; do
      /usr/sbin/tincd -k -n "${net}" &>/dev/null
      if [ $? -gt 0 ]; then
        stat_fail
      else
        rm_daemon ${daemon_name}
        stat_done
      fi
    done
    ;;
  restart)
    "$0" stop
    sleep 5
    "$0" start
    ;;
  *)
    echo "usage: $0 {start|stop|restart}"
esac
exit 0
