[Unit]
Description=Postfix Greylisting Service
Before=postfix.service

[Service]
Type=forking
PIDFile=/var/run/postgrey/postgrey.pid
ExecStart=/usr/sbin/postgrey --inet=127.0.0.1:10030 \
	--group=postgrey --user=postgrey --pidfile=/var/run/postgrey/postgrey.pid \
	--greylist-text="Greylisted for %s seconds" \
	--daemon
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
