[Desktop Entry]
Name=NetBeans IDE
Comment=IDE for Java, PHP, Groovy, C, C++, Ruby and Python
Icon=netbeans
Exec=netbeans
Terminal=false
Type=Application
Categories=Development;
StartupNotify=true
