[Desktop Entry]
Type=Application
Name=React Native Debugger
Comment=The standalone app for React Native Debugger, with React DevTools / Redux DevTools
Icon=react-native-debugger
Exec=react-native-debugger
Categories=Debugger;Development;GTK;
StartupNotify=true
