[Unit]
Description=DBMail Sieve Server
After=syslog.target network.target mysqld.service postgresql.service

[Service]
Type=forking
PIDFile=/run/dbmail/dbmail-timsieved.pid
ExecStart=/usr/bin/dbmail-timsieved -p /run/dbmail/dbmail-timsieved.pid

[Install]
WantedBy=multi-user.target
