[Unit]
Description=ElasticSearch
Documentation=http://www.elasticsearch.org
After=network.target

[Service]
User=elasticsearch
Type=forking
PIDFile=/run/elasticsearch/%I.pid
ExecStart=/usr/bin/elasticsearch -d -p /run/elasticsearch/%I.pid -Des.config=/etc/elasticsearch/%I.yml
LimitNOFILE=65535
TimeoutStopSec=20
Restart=on-failure

[Install]
WantedBy=multi-user.target
