[Unit]
Description=log file forwarder to remote sources
Documentation=https://www.elastic.co/guide/en/beats/filebeat/current
After=network.target

[Service]
ExecStart=/usr/bin/filebeat -c /etc/filebeat/filebeat.yml
User=filebeat

[Install]
WantedBy=multi-user.target
