[Unit]
Description=Glider Service (%i)
After=network.target

[Service]
Type=simple
User=nobody
ExecStart=/usr/bin/glider -c /etc/glider/%i.conf

[Install]
WantedBy=multi-user.target
