[Unit]
Description=Privoxy Web Proxy With Advanced Filtering Capabilities
After=network.target

[Service]
Type=forking
PIDFile=/run/privoxy.pid
ExecStart=/usr/sbin/privoxy --pidfile /run/privoxy.pid --user privoxy.privoxy /etc/privoxy/config
SuccessExitStatus=15

[Install]
WantedBy=multi-user.target
