[Desktop Entry]
Encoding=UTF-8
Exec=/usr/bin/qcad
Icon=/usr/share/pixmaps/qcad_icon.png
Name=QCad
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Development;Electronics;Engineering;
