[Unit]
Description=Advanced key-value store
After=network.target

[Service]
User=redis
ExecStart=/usr/bin/redis-server /etc/redis.conf
ExecStop=/usr/bin/redis-cli shutdown

[Install]
WantedBy=multi-user.target
