[Desktop Entry]
Encoding=UTF-8
Name=Warsow
GenericName=Warsow
Comment=Online Multiplayer Competitive FPS
Icon=/usr/share/pixmaps/warsow.ico
Exec=/usr/bin/warsow
Terminal=false
Type=Application
Categories=Application;Game
StartupNotify=true
