[Desktop Entry]
Type=Application
Name=XSensors
GenericName=Hardware Monitor
Comment=View hardware health
Icon=/usr/share/pixmaps/xsensors/default.xpm
Exec=/usr/bin/xsensors
Terminal=false
Categories=System;
