[Unit]
Description=SOCKS v4 and v5 compatible proxy server and client
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/conf.d/sockd.conf
PIDFile=/var/run/sockd.pid
ExecStart=/usr/sbin/sockd $SOCKD_OPTS

[Install]
WantedBy=multi-user.target
