[Desktop Entry]
Name=PPSSPP
GenericName=PSP Emulator
Comment=Playstation Portable Emulator
Exec=PPSSPPSDL %f
Terminal=false
Type=Application
Icon=ppsspp
Categories=Application;Game;
StartupNotify=false
