[Desktop Entry]
Encoding=UTF-8
Exec=freeorion
GenericName=Turn-based galactic conquest
Icon=freeorion
Name=FreeOrion
StartupNotify=true
Terminal=false
Type=Application
Categories=Game;StrategyGame;
X-KDE-SubstituteUID=false
