[Desktop Entry]
Version=1.0
Type=Application
Name=Endgame: Singularity
Comment=Simulation of true AI
Icon=/usr/lib/replaceme/site-packages/singularity/data/themes/default/images/icon.png
Exec=/usr/bin/singularity
Path=
Terminal=false
StartupNotify=false
Categories=Game;Simulation;
