[Desktop Entry]
Name=Twinkle
Comment=SIP softphone for Qt
Icon=twinkle.png
Exec=twinkle
Terminal=false
Type=Application
Categories=Network;
StartupNotify=false
