[Desktop Entry]
Name=Scan Tailor
Comment=An interactive post-processing tool for scanned pages.
Icon=/usr/share/icons/hicolor/scalable/apps/scantailor.svg
Exec=scantailor %u
TryExec=scantailor
Terminal=false
Type=Application
StartupNotify=true
Categories=Graphics;
MimeType=image/png;image/tif;image/jpeg
