[Desktop Entry]
Version=1.0
Type=Application
Name=Endgame: Singularity
Comment=Simulation of true AI
Icon=/usr/share/singularity/data/images/icon.png
Exec=/usr/bin/singularity
Path=
Terminal=false
StartupNotify=false
Categories=Game;Simulation;
