remotename      <NAME>
linkname        <NAME>
ipparam         <NAME>
name            <DOMAIN>\\<USER>
password        <PASSWORD>
plugin          sstp-pppd-plugin.so
sstp-sock       /run/sstpc/sstpc-uds-sock
noauth
usepeerdns
