[Unit]
Description=Stateful packet filtering firewall builder

[Service]
Type=oneshot
ExecStart=/etc/rc.d/firehol start
ExecStop=/etc/rc.d/firehol stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
