[Unit]
Description=minidlna server
After=network.target

[Service]
Type=exec
DynamicUser=yes
ExecStart=/usr/bin/minidlnad -S
RuntimeDirectory=minidlna
CacheDirectory=minidlna
ProtectSystem=full
ProtectHome=on
PrivateDevices=on
NoNewPrivileges=on

[Install]
WantedBy=multi-user.target
