[Unit]
Description=SSL/SSH multiplexer
After=network.target

[Service]
ExecStart=/usr/bin/sslh-fork -F/etc/sslh.conf
KillMode=process
PIDFile=/run/sslh.pid

[Install]
WantedBy=multi-user.target
