#!/bin/bash

. /etc/rc.conf
. /etc/rc.d/functions
. /etc/conf.d/vbox-service

name=VBoxService
PID=$(pidof -o %PPID $name)

case "$1" in
  start)
    stat_busy "Starting $name service"
    [[ -z "$PID" ]] && ${name} $VBOX_SERVICE_OPTION &>/dev/null \
    && { add_daemon vbox-service; stat_done; } \
    || { stat_fail; exit 1; }
    ;;
  stop)
    stat_busy "Stopping $name service"
    [[ -n "$PID" ]] && kill $PID &>/dev/null \
    && { rm_daemon vbox-service; stat_done; } \
    || { stat_fail; exit 1; }
    ;;
  restart)
    $0 stop
    sleep 1
    $0 start
    ;;
  status)
    stat_busy "Checking $name status";
    ck_status $name
    ;;
  *)
    echo "usage: $0 {start|stop|restart|status}"
    exit 1
esac

exit 0

# vim:set ts=2 sw=2 ft=sh et:
