[Unit]
Description=A file integrity management system

[Service]
User=osiris
Type=forking
ExecStart=/usr/sbin/osirismd

[Install]
WantedBy=multi-user.target
