[Desktop Entry]
Type=Application
Name=PrusaSlicer
Exec=/usr/bin/prusa-slicer
Terminal=false
Icon=prusa-slicer
StartupNotify=false
Categories=Graphics;3DGraphics;
MimeType=model/stl;
