[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Gens
Comment=A Sega Genesis / Sega CD / Sega 32X emulator
Exec=gens
Icon=gens
Terminal=false
StartupNotify=false
Categories=Application;Game;
