[Unit]
Description=Network statistics gatherer (packet sniffer)

[Service]
User=couchdb
Type=forking
EnvironmentFile=/etc/conf.d/darkstat.conf
PIDFile=/var/darkstat/darkstat.pid
ExecStart=/usr/sbin/darkstat --user "darkstat" --chroot "/var/darkstat" \
          --import "darkstat.dat" --export "darkstat.dat" \
          --pidfile /var/darkstat/darkstat.pid \
          -i "$DARKSTAT_IFACE" $DARKSTAT_ARGS

[Install]
WantedBy=multi-user.target
