[Unit]
Description=IP Virtual Server

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/systemd/scripts/ipvsadm start
ExecStop=/usr/lib/systemd/scripts/ipvsadm stop

[Install]
WantedBy=multi-user.target
