[Desktop Entry]
Name=PainTown
Comment=Paintown is an open source fighting game in the same genre as Streets of Rage and Teenage Mutant Ninja Turtles.
Exec=paintown
Icon=paintown.png
Terminal=false
Type=Application
Categories=Application;Game;
