pkgbase = libechonest
	pkgdesc = C++ library for interfacing with Echo Nest
	pkgver = 2.3.1
	pkgrel = 1
	url = https://projects.kde.org/projects/playground/libs/libechonest
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = cmake
	depends = qjson
	conflicts = libechonest-git
	conflicts = libechonest2
	replaces = libechonest2
	source = http://files.lfranchi.com/libechonest-2.3.1.tar.bz2
	md5sums = d8c60545b056145dc66882971a0acf9c

pkgname = libechonest

