[Unit]
Description=DKFilter output service
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
EnvironmentFile=/etc/conf.d/dkfilter
PIDFile=/var/run/dkfilter.out
ExecStart=dkfilter.out --user=$DKFILTER_USER --group=$DKFILTER_GROUP --keyfile=$DKFILTER_PRIVATE_KEY --selector=$DKFILTER_SELECTOR --domain=$DKFILTER_DOMAIN --method=nofws --headers 127.0.0.1:10027 127.0.0.1:10028

[Install]
WantedBy=multi-user.target
