[Unit]
Description=IRC notification daemon
Documentation=man:irkerd(8)
After=network.target

[Service]
EnvironmentFile=/etc/irker/irkerd.env
ExecStart=/usr/bin/irkerd $CA_FILE $CERT_FILE $LOG_LEVEL $HOST $LOG_FILE $NICK $PASSWORD
Group=irker
IPAccounting=yes
LogsDirectory=irker
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
PrivateUsers=true
ProtectSystem=strict
ProtectHome=true
ProtectKernelTunables=true
ProtectControlGroups=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ReadOnlyPaths=/etc/irker/irker.env
RemoveIPC=true
RestrictAddressFamilies=~AF_AX25 AF_IPX AF_APPLETALK AF_X25 AF_INET6 AF_DECnet AF_KEY AF_NETLINK AF_PACKET AF_RDS AF_PPPOX AF_LLC AF_IB AF_MPLS AF_CAN AF_TIPC AF_BLUETOOTH AF_ALG AF_VSOCK AF_KCM AF_XDP
RestrictAddressFamilies=AF_UNIX AF_INET
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
RuntimeDirectory=irker
StandardError=syslog
StateDirectory=irker
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@resources
Type=exec
UMask=177
User=irker

[Install]
WantedBy=multi-user.target
