[Unit]
Description=Extendable continuous integration server
After=network.target

[Service]
User=jenkins
Type=simple
EnvironmentFile=/etc/conf.d/jenkins
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=jenkins
ExecStart=/bin/sh -c 'eval $JENKINS_COMMAND_LINE'
#MemoryLimit=768M
OOMScoreAdjust=-1000
LimitCPU=infinity
LimitFSIZE=infinity
LimitDATA=infinity
LimitCORE=0
LimitAS=infinity
LimitLOCKS=infinity

[Install]
WantedBy=multi-user.target

