[Desktop Entry]
Version=1.0
Type=Application
Name=OpenBVE
Comment=Train/railway simulator compatible with 'BVE Trainsim' routes
Comment[hu]=A „BVE Trainsim” útvonalaival kompatibilis vonatszimulátor
Exec=openbve
Icon=openbve
Categories=Game;Simulation;
