[Unit]
Description=DKIMproxy Incoming
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/dkimproxy.in --conf_file=/etc/dkimproxy/dkimproxy_in.conf --user=dkimproxy --group=dkimproxy --daemonize --pidfile=/var/run/dkimproxy_in.pid
PIDFile=/var/run/dkimproxy_in.pid

[Install]
WantedBy=multi-user.target
