[Unit]
Description=Gitlab Workhorse
Requires=gitlab-unicorn.service
After=gitlab-unicorn.service

[Service]
User=gitlab
Group=gitlab
WorkingDirectory=/usr/share/webapps/gitlab
SyslogIdentifier=gitlab-workhorse
CapabilityBoundingSet=
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true
ExecStart=/usr/bin/gitlab-workhorse -authBackend http://127.0.0.1:8080 /var/lib/gitlab/repositories
ExecStop=/usr/bin/kill -QUIT $MAINPID
ExecReload=/usr/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
