[Unit]
Description=Block hacking attempts
Wants=sshd.service

[Service]
EnvironmentFile=/etc/conf.d/sshguard
ExecStart=/usr/lib/systemd/scripts/sshguard-journalctl -b /var/db/sshguard/blacklist.db ${SSHGUARD_ARGS}

[Install]
WantedBy=multi-user.target
