[Unit]
Description=Block hacking attempts
Wants=sshd.service

[Service]
EnvironmentFile=/etc/conf.d/sshguard
ExecStart=/usr/sbin/sshguard -l /var/log/auth.log -b /var/db/sshguard/blacklist.db ${SSHGUARD_ARGS}

[Install]
WantedBy=multi-user.target
