[Desktop Entry]
Name=ArgoUML
Comment=UML Modeling Tool
Icon=argouml2
Exec=argouml
Terminal=false
Type=Application
Categories=Development;
StartupNotify=true
