[Desktop Entry]
Name=JSampler
Comment=LinuxSampler - Audio sampler (Fantasia Java GUI)
Exec=jsampler
Icon=jsampler
Categories=AudioVideo;Audio;
Terminal=false
Type=Application
