[Unit]
Description=Distributed file system (web interface)
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/mfscgiserv
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target
