[Unit]
Description=Distributed file system
After=network.target

[Service]
Type=forking
User=mfs
Group=mfs
ExecStartPre=mount /var/lib/mfs/dummy.hdd /mnt/mfsloop
ExecStart=/usr/bin/mfschunkserver -c /etc/mfs/chunkserver.conf start
ExecStop=/usr/bin/mfschunkserver -c /etc/mfs/chunkserver.conf stop
ExecStopPost=umount /mnt/mfsloop
ExecReload=/usr/bin/mfschunkserver -c /etc/mfs/chunkserver.conf reload
PIDFile=/run/mfs/mfschunkserver.pid
Restart=always

[Install]
WantedBy=multi-user.target
