[Unit]
Description=Distributed file system (chunk server)
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/mfschunkserver start
ExecStop=/usr/bin/mfschunkserver stop

[Install]
WantedBy=multi-user.target
