[Unit]
Description=Bip IRC Proxy Server
After=network.target
ConditionPathExists=/etc/bip.conf

[Service]
User=bip
Type=forking
PIDFile=/var/run/bip/bip.pid
ExecStart=/usr/bin/bip -f /etc/bip.conf

[Install]
WantedBy=multi-user.target
