[Desktop Entry]
Name=Gambas3
Exec=gambas3
Icon=/usr/share/pixmaps/gambas3.png
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Application;Development;
Encoding=UTF-8
StartupNotify=true

GenericName=
