[Unit]
Description=OSPF routing daemon for IPv6
BindTo=zebra.service
After=network.target zebra.service
ConditionPathExists=/etc/quagga/ospf6d.conf

[Service]
ExecStart=/usr/sbin/ospf6d
Restart=on-abort

[Install]
WantedBy=multi-user.target
