[Unit]
Description    = Open vSwitch Daemon
Documentation  = man:ovs-vswitchd
Wants          = network.target
Before         = network.target
Requires       = ovsdb-server.service
After          = ovsdb-server.service

[Service]
ExecStartPre   = /sbin/modprobe openvswitch
ExecStart      = /usr/sbin/ovs-vswitchd

[Install]
WantedBy       = multi-user.target
