[Desktop Entry]
Name=Eric 5 IDE
Comment=A full featured Python IDE
Icon=eric5
Exec=eric5
Terminal=false
Type=Application
Categories=Qt;Development;IDE;
