[Unit]
Description=Name Server Daemon
After=network.target

[Service]
Type=notify
User=nsd
Group=nsd
RuntimeDirectory=nsd
ReadWritePaths=/var/db/nsd
PIDFile=/run/nsd/nsd.pid
ExecStart=/usr/bin/nsd -d -c /etc/nsd/nsd.conf
ExecReload=+/bin/kill -HUP $MAINPID
ExecStop=+/bin/kill -TERM $MAINPID
Restart=always
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_NET_RAW
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_NET_RAW
NoNewPrivileges=true
SecureBits=noroot-locked
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
#Not compatible with Capabilities
#PrivateUsers=true
ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
LockPersonality=true
MemoryDenyWriteExecute=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK AF_UNIX
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM

[Install]
WantedBy=multi-user.target
