#!/bin/bash

. /etc/rc.conf
. /etc/rc.d/functions

PID=`pidof -o %PPID auditd`

case "$1" in
	start)
		stat_busy "Starting auditd"
		[ -z "$PID" ] && {
			/sbin/auditctl -R /etc/audit/audit.rules >/dev/null
			/sbin/auditd
		}
		if [ $? -ne 0 ]; then
			stat_fail
		else
			add_daemon auditd
			stat_done
		fi
		;;

	stop)
		stat_busy "Stopping auditd"
		[ ! -z "$PID" ] && kill $PID &> /dev/null
		if [ $? -gt 0 ]; then
			stat_fail
		else
			rm_daemon auditd
			stat_done
		fi
		;;

	restart)
		$0 stop
		sleep 1
		$0 start
		;;

	reload)
		stat_busy "Reloading auditd"
		[ ! -z "$PID" ] && kill -HUP $PID &> /dev/null
		if [ $? -gt 0 ]; then
			stat_fail
		else
			rm_daemon auditd
			stat_done
		fi
		;;

	*)
		echo "usage: $0 {start|stop|restart|reload}"  
esac

exit 0
