[Unit]
Description=Distributed file system (meta logger)
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/mfsmetalogger start
ExecStop=/usr/bin/mfsmetalogger stop

[Install]
WantedBy=multi-user.target
