[Unit]
Description=Distributed file system (master)
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/mfsmaster start
ExecStop=/usr/bin/mfsmaster stop

[Install]
WantedBy=multi-user.target
