[Unit]
Description=Distributed file system (meta logger)
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/mfsmetalogger start
ExecStop=/usr/bin/mfsmetalogger stop
PIDFile=/run/mfs/mfsmetalogger.pid
Restart=always

[Install]
WantedBy=multi-user.target
