[Unit]
Description=DSR Redmine
After=network.target

[Service]
Type=simple
User=http
Group=http
WorkingDirectory=/usr/share/webapps/redmine
ExecStart=/usr/bin/ruby-2.7 ./bin/rails server webrick -e production -b 127.0.0.1 -p 3020
RestartSec=60
Restart=always

[Install]
WantedBy=multi-user.target
