# See https://github.com/AirenSoft/OvenMediaEngine/blob/master/misc/ovenmediaengine.service

[Unit]
Description=OvenMediaEngine
After=network-online.target

[Service]
Type=forking
PIDFile=/run/ovenmediaengine.pid
ExecStart=/usr/bin/OvenMediaEngine -d -c /etc/ovenmediaengine/
Restart=on-abort
RestartPreventExitStatus=1
StandardOutput=null
StandardError=journal+console
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
