[Unit]
Description=GoAgent Service
After=network.target

[Service]
Type=simple
User=nobody
ExecStart=/usr/share/goagent/local/goagent

[Install]
WantedBy=multi-user.target

