[Unit]
Description=Drone
Documentation=https://docs.drone.io
Requires=network-online.target
After=network-online.target

[Service]
User=drone
Group=drone
ExecStart=/usr/bin/drone-server
RestartSec=5
Restart=on-failure
SyslogIdentifier=drone-server

[Install]
WantedBy=multi-user.target
