[Unit]
Description=DBMail pop3 Server
After=syslog.target network.target mysqld.service postgresql.service

[Service]
Type=forking
ExecStart=/usr/sbin/dbmail-pop3d

[Install]
WantedBy=multi-user.target
