[Unit]
Description=Openfire XMPP Server
After=network.target

[Service]
Type=simple
User=openfire
Group=openfire
ExecStart=/usr/bin/java -server -DopenfireHome=/usr/share/openfire -Dopenfire.lib.dir=/usr/lib/openfire -classpath /usr/lib/openfire/startup.jar -jar /usr/lib/openfire/startup.jar

[Install]
WantedBy=multi-user.target
