[Unit]
Description=Dictd Dictionary Server Daemon
After=network.target

[Service]
Type=forking
EnvironmentFile=-/etc/conf.d/dictd
ExecStart=/usr/sbin/dictd $DICTD_ARGS -- $DICTD_EARGS

[Install]
WantedBy=multi-user.target
