[Unit]
Description=PDNS
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/bin/pdns_control quit
ExecStop=/usr/bin/pdns_control ping > /dev/null 2>&1 && /usr/bin/pdns_server --daemon

[Install]
WantedBy=multi-user.target
