[Unit]
Description=Motion daemon
After=local-fs.target network.target

[Service]
User=motion
ExecStart=/usr/bin/motion -n
Type=simple
StandardError=null

[Install]
WantedBy=multi-user.target
