[Unit]
Description=GoAgent Service
After=network.target

[Service]
Type=simple
User=nobody
ExecStart=/opt/goagent/local/proxy.py

[Install]
WantedBy=multi-user.target

