pkgbase = ttf-hack
	pkgdesc = Source Foundry Hack is is hand groomed and optically balanced typeface to be your go-to code face based on the Bitstream Vera Mono font.
	pkgver = 2.018
	pkgrel = 1
	url = http://sourcefoundry.org/hack/
	install = ttf-hack.install
	arch = any
	license = SIL Open Font License 1.1 and Bitstream Vera License
	depends = fontconfig
	depends = xorg-fonts-encodings
	depends = xorg-font-utils
	source = https://github.com/chrissimpkins/Hack/releases/download/v2.018/Hack-v2_018-ttf.zip
	sha256sums = 7dbafae9b1f6c5b0763b227e51c5485cc4ef6d9b0fec4914622ddb9fe235334c

pkgname = ttf-hack

