[Unit]
Description=Kubernetes Controller Manager
Documentation=man:kube-controller-manager(1)

[Service]
EnvironmentFile=-/etc/kubernetes/kube-controller-manager.env
User=kube
ExecStart=/usr/bin/kube-controller-manager $KUBE_CONTROLLER_MANAGER_ARGS
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
