[Unit]
Description=Icecast Network Audio Streaming Server
After=network.target

[Service]
ExecStart=/usr/bin/icecast -c /etc/icecast.xml

[Install]
WantedBy=multi-user.target
