[Unit]
Description=RDNSS daemon for Linux
Before=network.target
Requires=network.target

[Service]
Type=forking
PIDFile=/run/rdnssd.pid
ExecStart=/usr/sbin/rdnssd -H /etc/rdnssd/merge-hook

[Install]
WantedBy=multi-user.target
