[Desktop Entry]
Name=Mumble (1.1.X compatible)
GenericName=Voice Chat
Comment=Voice chat program (compatible with Mumble 1.1.X)
Exec=mumble11x
Icon=mumble
Terminal=false
Type=Application
StartupNotify=false
Categories=Network;Chat;Qt;
Version=1.2.1
