[Unit]
Description=GoAgent Service
After=network.target

[Service]
Type=simple
ExecStart=/opt/goagent/local/proxy.py
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target

