[Unit]
Description=LastFM Submit daemon
After=network.target

[Service]
ExecStart=/usr/bin/lastfmsubmitd
PIDFile=/run/lastfm/lastfmsubmitd.pid
Type=forking

[Install]
WantedBy=multi-user.target
