[Unit]
Description=Emby brings together your videos, music, photos, and live television.

[Service]
EnvironmentFile=/etc/conf.d/emby-server
WorkingDirectory=/usr/lib/emby-server
ExecStart=/usr/bin/emby-server
RestartForceExitStatus=3
User=emby
Group=emby

[Unit]
After=network.target

[Install]
WantedBy=multi-user.target
