[Desktop Entry]
Name=eXtrema
Comment=Visualization and Data Analysis Tool
Exec=extrema
Icon=extrema.png
Terminal=0
Type=Application
Categories=Science;Math;