pkgbase = ffnvcodec-headers
	pkgdesc = FFmpeg version of headers required to interface with Nvidias codec APIs
	pkgver = 9.0.18.1
	pkgrel = 1
	url = https://git.videolan.org/?p=ffmpeg/nv-codec-headers.git
	arch = any
	license = MIT
	makedepends = git
	source = git+https://git.videolan.org/git/ffmpeg/nv-codec-headers.git#tag=n9.0.18.1
	sha256sums = SKIP

pkgname = ffnvcodec-headers

