[Unit]
Description=Amavisd Daemon
Wants=spamassassin.service
After=network.target

[Service]
PIDFile=/run/amavis/pid
User=amavis
Group=amavis
RuntimeDirectory=amavis
RuntimeDirectoryMode=750
ExecStart=/usr/bin/amavisd -c /etc/amavisd/amavisd.conf foreground
ExecReload=/usr/bin/amavisd -c /etc/amavisd/amavisd.conf reload
PrivateTmp=true

[Install]
WantedBy=multi-user.target
