[Unit]
Description=FUSE filesystem for LXC
ConditionVirtualization=!container
Before=lxc.service
After=cgmanager.service
Requires=cgmanager.service

[Service]
ExecStart=/usr/bin/lxcfs /var/lib/lxcfs
KillMode=process
Restart=on-failure
ExecStopPost=-/bin/fusermount -u /var/lib/lxcfs

[Install]
WantedBy=multi-user.target
