[Desktop Entry]
Type=Application
Name=Alien Arena
Comment=Multiplayer retro sci-fi deathmatch
Exec=alienarena
Icon=/usr/share/alienarena/aa.png
Categories=Game;ActionGame;
