[Desktop Entry]
Version=1.0
Type=Application
Name=Spyder
Comment=Scientific PYthon Development EnviRonment
TryExec=/usr/bin/spyder
Exec=spyder
Icon=/usr/lib/python2.7/site-packages/spyderlib/images/spyder.svg
Categories=Qt;Development;IDE;
