[Desktop Entry]
Version=1.0
Type=Application
Name=RawTherapee
GenericName=RAW image editor
Exec=rt
Icon=rawtherapee
Terminal=false
Categories=Graphics;
StartupNotify=true
MimeType=image/jpeg;image/jpg;image/tiff;image/png;image/x-canon-cr2;image/x-canon-crw;image/x-nikon-nef;image/x-fuji-raf;image/x-pentax-pef;image/x-adobe-dng;image/x-sony-arw;image/x-sony-sr2;image/x-minolta-mrw;image/x-panasonic-raw;image/x-olympus-orf;image/x-kodak-kdc;
