[Desktop Entry]
Name=Rockbox Utility
GenericName=Rockbox Utility
Comment=Configure Rockbox
Encoding=UTF-8
Exec=rbutil
Icon=rbutil.png
Categories=Application;Qt;AudioVideo;Audio;
StartupNotify=false
Terminal=false
Type=Application
