[Unit]
Description=Send mailman notifications to disabled members
Documentation=file:///usr/lib/mailman/cron/crontab.in

[Service]
Type=oneshot
ExecStart=/usr/bin/python2 -S /usr/lib/mailman/cron/disabled
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
