[Unit]
Description=Shadowsocks-Libev Client Service Tunnel Mode
After=network-online.target
Wants=network-online.target

[Service]
Type=exec
User=nobody
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
ExecStart=/usr/bin/ss-tunnel -c /etc/shadowsocks/%i.json

[Install]
WantedBy=multi-user.target

