[Desktop Entry]
Encoding=UTF-8
Name=Alleyoop
GenericName=Memory checker
Comment=Find memory-management problems by using Valgrind
Exec=alleyoop
Icon=alleyoop.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Application;GNOME;Development;Debugger;
