[Unit]
Description=Audit agent and shipper for Elasticsearch
Documentation=https://www.elastic.co/guide/en/beats/auditbeat/current/index.html
After=network.target

[Service]
ExecStart=/usr/bin/auditbeat -c /etc/auditbeat/auditbeat.yml -path.home /usr/share/auditbeat -path.config /etc/auditbeat -path.data /var/lib/auditbeat -path.logs /var/log/auditbeat
Restart=on-failure

[Install]
WantedBy=multi-user.target
