[Unit]
Description=Babel routing daemon
Documentation=man:babeld(8) http://www.pps.univ-paris-diderot.fr/~jch/software/babel/
After=network.target

[Service]
Type=simple
# Don't write a PID file, since it prevents babeld from starting again
# in case of crash.
ExecStart=/usr/bin/babeld -I ''
Restart=on-failure

[Install]
WantedBy=multi-user.target
