[Unit]
Description=DBMail LMTP Server
After=syslog.target network.target mysqld.service postgresql.service

[Service]
Type=forking
ExecStart=/usr/sbin/dbmail-lmtpd

[Install]
WantedBy=multi-user.target
