[Unit]
Description=DBMail LMTP Server
After=syslog.target network.target mysqld.service postgresql.service

[Service]
Type=forking
PIDFile=/var/run/dbmail/dbmail-lmtpd.pid
ExecStart=/usr/sbin/dbmail-lmtpd -p /var/run/dbmail/dbmail-lmtpd.pid

[Install]
WantedBy=multi-user.target
