[Unit]
Description=DBMail Imap Server
After=syslog.target network.target mysqld.service postgresql.service

[Service]
Type=forking
ExecStart=/usr/sbin/dbmail-imapd

[Install]
WantedBy=multi-user.target
