[Unit]
Description=DBMail pop3 Server
After=syslog.target network.target mysqld.service postgresql.service

[Service]
Type=forking
PIDFile=/var/run/dbmail/dbmail-pop3d.pid
ExecStart=/usr/sbin/dbmail-pop3d -p /var/run/dbmail/dbmail-pop3d.pid

[Install]
WantedBy=multi-user.target
