[Desktop Entry]
Type=Application
Name=dmd/phobos documentation
Comment=dmd compiler and phobos library documentation
Exec=xdg-open /usr/share/d/html/d/spec/intro.html
Icon=dmd-doc
Categories=Development;
