[Unit]
Description=A tool for securing communications between a client and a DNS resolver.
After=network.target
# Only needed if you use pdnsd, other caching DNS servers can go here. Could be ignored too.
#Before=pdnsd.service

[Service]
EnvironmentFile=/etc/conf.d/dnscrypt-proxy
ExecStart=/usr/bin/dnscrypt-proxy \
	--local-address=${DNSCRYPT_LOCALIP}:${DNSCRYPT_LOCALPORT} \
    --resolver-address=${DNSCRYPT_RESOLVERIP}:${DNSCRYPT_RESOLVERPORT} \
    --provider-name=${DNSCRYPT_PROVIDER_NAME} \
    --provider-key=${DNSCRYPT_PROVIDER_KEY} \
	--user=${DNSCRYPT_USER}
Restart=on-abort

[Install]
WantedBy=multi-user.target
