[Unit]
Description=Folding@home distributed computing client
After=network.target

[Service]
Type=simple
User=fah
DynamicUser=yes
StateDirectory=fah
WorkingDirectory=/var/lib/fah
ReadWritePaths=/etc/foldingathome/config.xml
ExecStartPre=/usr/bin/cp /etc/foldingathome/config.xml /var/lib/fah/
ExecStart=/usr/bin/FAHClient

[Install]
WantedBy=multi-user.target

