[Unit]
Description=Grafana service
After=network.target

[Service]
User=grafana
Group=grafana
WorkingDirectory=/usr/share/grafana
ExecStart=/usr/bin/grafana-server --config=/etc/grafana.ini
LimitNOFILE=10000
TimeoutStopSec=20
SuccessExitStatus=0 2

[Install]
WantedBy=multi-user.target
