[Unit]
Description=Uptime monitoring agent that stores metrics in Elasticsearch
Documentation=https://www.elastic.co/guide/en/beats/heartbeat/current/index.html
After=network.target

[Service]
ExecStart=/usr/bin/heartbeat -c /etc/heartbeat/heartbeat.yml -path.home /usr/share/heartbeat -path.config /etc/heartbeat -path.data /var/lib/heartbeat -path.logs /var/log/heartbeat
Restart=on-failure

[Install]
WantedBy=multi-user.target
