[Unit]
Description=Multi-protocols bridge for online communications
After=network.target

[Service]
User=nobody
Group=nobody
ExecStart=/usr/bin/matterbridge -conf /etc/matterbridge.toml
Type=simple

[Install]
WantedBy=multi-user.target
