[Unit]
Description=Multi-protocols bridge for online communications
After=network.target

[Service]
User=matterbridge
DynamicUser=yes
ExecStart=/usr/bin/matterbridge -conf /etc/matterbridge.toml
Type=simple
CapabilityBoundingSet=
NoNewPrivileges=True
PrivateUsers=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ProtectControlGroups=yes
ProtectKernelTunables=true
ProtectKernelModules=yes
LockPersonality=true
MemoryDenyWriteExecute=true
RestrictRealtime=true
SystemCallArchitectures=native
SystemCallFilter=@system-service

[Install]
WantedBy=multi-user.target
