[Unit]
Description=Machine Check Exception Logging Daemon
After=syslog.target

[Service]
PIDFile=/run/mcelog.pid
ExecStart=/usr/sbin/mcelog --ignorenodev --daemon --foreground --pidfile /run/mcelog.pid
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
