[Unit]
Description=Prometheus exporter for bird metrics
Requires=bird.service
After=bird.service

[Service]
User=bird_exporter
Group=bird_exporter
Restart=on-failure
EnvironmentFile=-/etc/conf.d/prometheus-bird-exporter
ExecStart=/usr/bin/prometheus-bird-exporter $BIRD_EXPORTER_ARGS
ExecReload=/bin/kill -HUP $MAINPID
NoNewPrivileges=true
ProtectHome=read-only
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
