[Unit]
Description=Quassel Core
After=network.target

[Service]
PIDFile=/var/run/quassel.pid
ExecStart=/usr/bin/quasselcore --listen=127.0.0.1 --configdir=/var/lib/quassel

[Install]
WantedBy=multi-user.target
