[Unit]
Description=The mystical Charm Cloud 🌟
Documentation=https://github.com/charmbracelet/charm
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
User=charm
Group=charm
Restart=always
RestartSec=1
ExecStart=/usr/bin/charm serve
EnvironmentFile=-/etc/charm.conf

# Hardening
ReadWritePaths=/var/lib/charm
UMask=0027
NoNewPrivileges=true
LimitNOFILE=1048576
ProtectSystem=strict
ProtectHome=true
PrivateUsers=yes
PrivateTmp=true
PrivateDevices=true
ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=true
LockPersonality=true
MemoryDenyWriteExecute=true
RestrictRealtime=true
RestrictSUIDSGID=true
RemoveIPC=true
CapabilityBoundingSet=
AmbientCapabilities=
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
