[Unit]
Description=Tinyproxy Web Proxy Server
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/tinyproxy -c /etc/tinyproxy/tinyproxy.conf
PIDFile=/run/tinyproxy/tinyproxy.pid
PrivateDevices=yes

[Install]
WantedBy=multi-user.target
