[Unit]
Description=soju IRC bouncer service
After=network-online.target

[Service]
Type=simple
User=soju
Group=soju
Restart=always
RestartSec=5
ExecStart=/usr/bin/soju --config /etc/soju/config
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
