[Desktop Entry]
Encoding=UTF-8
Name=TIPP10
Comment=Intelligent typing tutor
Comment[de]=Intelligenter 10-Finger-Schreibtrainer
Type=Application
Icon=tipp10.png
Exec=tipp10
Terminal=false
Categories=Application;Education;

