[Unit]
Description=open source server monitoring agent that stores metrics in Elasticsearch
Documentation=https://www.elastic.co/guide/en/beats/topbeat/current
After=network.target

[Service]
ExecStart=/usr/bin/topbeat -c /etc/topbeat/topbeat.yml

[Install]
WantedBy=multi-user.target
