[Unit]
Description=IRC daemon
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
User=ircd
PIDFile=/var/run/unrealircd.pid
ExecStart=/usr/bin/unrealircd -p 6667

[Install]
WantedBy=multi-user.target
