[Unit]
Description=vsftpd daemon

[Service]
ExecStart=/usr/sbin/vsftpd -olisten_ipv6=yes
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target
