[Desktop Entry]
Name=Wire
Comment=The most secure collaboration platform.
Exec=wire-desktop %U
Terminal=false
Type=Application
Icon=wire-desktop
StartupWMClass=Wire
Categories=Network;
GenericName=Secure messenger
Keywords=chat;encrypt;e2e;messenger;videocall
MimeType=x-scheme-handler/wire
Version=1.1
