[Unit]
Description=wireproxy Service
Documentation=https://github.com/octeep/wireproxy
After=network.target nss-lookup.target

[Service]
User=wireproxy
Group=wireproxy
ProtectSystem=strict
RemoveIPC=true
PrivateTmp=true
ProtectHome=true
ProtectProc=true
PrivateUsers=true
NoNewPrivileges=true
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
ExecStartPre=/usr/bin/wireproxy --configtest --config /etc/wireproxy/%i.conf
ExecStart=/usr/bin/wireproxy --config /etc/wireproxy/%i.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
