[Unit]
Description=LLDP daemon
Documentation=man:lldpd(8)
After=network.target

[Service]
Type=notify
NotifyAccess=main
ExecStart=/usr/bin/lldpd

[Install]
WantedBy=multi-user.target
