[Unit]
Description=SOCKS v4 and v5 compatible proxy server and client
After=network.target

[Service]
Type=forking
PIDFile=/run/dante/sockd.pid
ExecStart=/usr/bin/sockd -D -p/run/dante/sockd.pid

[Install]
WantedBy=multi-user.target
