[Desktop Entry]
Version=1.0
Name=GpsPrune
Comment=Visualize, edit and prune GPS tracks
Exec=gpsprune %F
Icon=gpsprune
Categories=Education;Science;Geoscience;
StartupNotify=false
Terminal=false
Type=Application
MimeType=application/gpx+xml;
Keywords=gps;gpx;kml;kmz;tracks;waypoints;routes;
