[Unit]
Description=TinySSH Key Generation
ConditionPathIsDirectory=!/etc/tinyssh/sshkeydir

[Service]
ExecStart=/usr/bin/tinysshd-makekey /etc/tinyssh/sshkeydir
Type=oneshot
RemainAfterExit=true
