[Desktop Entry]
Version=1.0
Name=SAGE
Comment=SAGE NOTEBOOK
Comment[en_US]=SAGE NOTEBOOK
Exec=/opt/sage/sage -notebook
GenericName=
GenericName[de]=
Icon=/opt/sage/data/extcode/notebook/images/sageicon.png
MimeType=
Name[de]=SAGE
StartupNotify=true
Terminal=true
Type=Application
Categories=Science;Math;
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
GenericName[en_US]=
