[Unit]
Description=Kafka server
After=network.target zookeeper.service
Requires=zookeeper.service

[Service]
Type=simple
Environment=KAFKA_PID_DIR=/run/kafka/
Environment=LOG_DIR=/var/log/kafka
Environment=KAFKA_LOG4J_OPTS="-Dlog4j.configuration=file:/etc/kafka/log4j.properties"
User=kafka
WorkingDirectory=/var/lib/kafka
ExecStart=/usr/bin/kafka-server-start.sh /etc/kafka/server.properties
ReadWritePaths=/var/log/kafka
SuccessExitStatus=143
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectControlGroups=true
NoNewPrivileges=true
LockPersonality=true
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=~CAP_NET_BROADCAST CAP_NET_RAW
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
RemoveIPC=true
RestrictAddressFamilies=~AF_PACKET AF_NETLINK AF_UNIX
RestrictSUIDSGID=true
RestrictNamespaces=true
RestrictRealtime=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
RuntimeDirectory=kafka
StateDirectory=kafka
LogsDirectory=kafka

[Install]
WantedBy=multi-user.target
