[Unit]
Description=Syncplay Server
After=network.target

[Service]
Type=simple
User=%I
EnvironmentFile=/etc/syncplay/server.conf
ExecStart=/usr/bin/syncplay-server $port $isolate $password $salt $motd $ready $chat $maxChars $usernameLength $statsFile $tls

[Install]
WantedBy=multi-user.target
