[Unit]
Description=3D printer firmware with motion planning on the host
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=klipper
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python /opt/klipper/klippy/klippy.py /etc/klipper/klipper.conf -I /run/klipper/sock -a /run/klipper/ud_sock -l /var/log/klipper/klippy.log
RemainAfterExit=no
Restart=always
RestartSec=10
