[Unit]
Description=Machine Check Exception Logging Daemon
After=syslog.target

[Service]
PIDFile=/var/run/mcelog.pid
ExecStart=/usr/sbin/mcelog --ignorenodev --daemon --foreground --pidfile /var/run/mcelog.pid
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
