ACTION=="remove", GOTO="vhba_end"
KERNEL!="vhba_ctl", GOTO="vhba_end"

NAME="vhba_ctl", MODE="0660", OWNER="root", GROUP="cdemu"

TEST=="/sys/fs/cgroup/systemd", GOTO="vhba_uaccess"
TAG+="udev-acl"
GOTO="vhba_end"

LABEL="vhba_uaccess"
TAG+="uaccess"

LABEL="vhba_end"
