[Desktop Entry]
Type=Application
Name=Min
GenericName=Web Browser
Comment=A smarter, faster web browser
Icon=min
Exec=min
Categories=GTK;Network;WebBrowser;
StartupNotify=true
