[Unit]
Description=Home assistant
After=network.target

[Service]
Restart=on-failure
User=hass
Group=hass
DynamicUser=true
LogsDirectory=hass
StateDirectory=hass
WorkingDirectory=/var/lib/hass
Environment=HOME=/var/lib/hass

ExecStart=/usr/bin/hass \
  --config /var/lib/hass/ \
  --log-file /var/log/hass/home-assistant.log \
  --log-rotate-days 1
RestartForceExitStatus=100

AmbientCapabilities=
CapabilityBoundingSet=
LockPersonality=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true

[Install]
WantedBy=multi-user.target
